<div class="admin_supplier_detail_container">

  <li><%=@activity_business.is_approved %></li>
  <li><%=@supplier.name%></li>
  <li><%=@supplier_profile.representative_name%></li>
  <li><%=@supplier_profile.representative_kana%></li>
  <li><%=@supplier_profile.manager_name%></li>
  <li><%=@supplier_profile.manager_name_kana%></li>
  <li><%=@supplier_profile.post_code%></li>
  <li><%=@supplier_profile.prefecture_id%></li>
  <li><%=@supplier_profile.area_id%></li>
  <li><%=@supplier_profile.town_id%></li>
  <li><%=@supplier_profile.detail_address%></li>
  <li><%=@supplier_profile.building%></li>
  <li><%=@supplier_profile.phone%></li>
  <li><%=@supplier_profile.contract_plan%></li>

  <%= form_for(@activity_business, url: activity_biz_approve_path(@activity_business)) do |form| %>
    <div class="admin_edit_form_inner">
      <div class="biz_form_status_toggle_box">
        <div class="biz_form_status_toggle_box_title">
          この事業者を承認しますか？
        </div>
        <div class="biz_form_status_toggle_radio_items">
          <div class="biz_form_status_toggle_radio_item on">
            <%= form.radio_button :is_approved, :false %>
            <%= form.label :is_approved, "しない", {value: :false, style: "display: inline-block;"} %>
          </div>
          <div class="biz_form_status_toggle_radio_item off">
            <%= form.radio_button :is_approved, :true %>
            <%= form.label :is_approved, "承認する", {value: :true, style: "display: inline-block;"} %>
          </div>
        </div>
      </div>
      <div class="form_btns">
        <%= form.submit('更新',class: 'button btn-submit') %>
      </div>
    </div>
  <% end %>
</div>

<style lang="scss">
  .admin_supplier_detail_container {
    padding: 20px 30px;
  }
  .biz_form_status_toggle_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
  }
  .biz_form_status_toggle_box_title {
    font-size: 12px;
    width: 100%;
    margin-bottom: 2px;
    color: #8a8a8a;
  }
  .biz_form_status_toggle_radio_items {
    width: 100%;
    display: flex;
  }
  .biz_form_status_toggle_radio_items input[type=radio] {
    display: none;
  }
  .biz_form_status_toggle_radio_item label {
    width: 100%;
    padding: 3px 0;
    text-align: center;
    background: #eaeaea;
  }
  .biz_form_status_toggle_radio_items input[type="radio"]:checked + label {
    background: #23a0ff;
    color: #ffffff;
  }
  .biz_form_status_toggle_radio_item.on,
  .biz_form_status_toggle_radio_item.off {
    width: 50%;
  }
  .biz_form_status_toggle_radio_item.on label {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .biz_form_status_toggle_radio_item.off label {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

</style>
