<div class="row sign_up_in_page">
  <div class="col sign_up_in_page_end">
    <h3>ユーザーログイン</h3>
    <%= form_with model: @user, url: user_session_path(@user), id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group password">
        <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control invisible" ,id: "password-input", required: true %>
          <div id="password_visible_btn"><i class='fas fa-eye'></i></div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン状態を保つ %>
        </div>
      <% end %>

      <div class="form-group user login_button">
        <%= f.submit "ログイン", class: "button btn-submit" %>
      </div>
    <% end %>
    <div class="another_way_btn_box">
      <%= link_to "ユーザー登録", new_user_registration_path %>
    </div>
    <div class="didnt_recieve_btn_box">
      <%= link_to "パスワードを忘れた方はコチラ", new_user_password_path %><br />
      <%= link_to "パスワードを複数回間違えた方", new_user_unlock_path %><br />
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("password_visible_btn").onclick = function() {
    const pwd = document.getElementById('password-input');
    const pwdClass = pwd.classList.toggle("invisible");
    const pwdIcon = document.getElementById('password_visible_btn');
    if(pwdClass == false){
      pwd.setAttribute('type', 'text');
      pwdIcon.innerHTML = '<i class="fas fa-eye-slash"></i>';
    } else {
      pwd.setAttribute('type', 'password');
      pwdIcon.innerHTML = '<i class="fas fa-eye"></i>';
    }
  };
</script>
