<div class="sign_up_in_page child_position_center">
  <div class="sign_up_in_page_end">
    <h3>Resend unlock Email</h3>
    <%= form_for(resource, as: resource_name, url: user_unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",class: "form-control" %>
      </div>

      <div class="form-group button">
        <%= f.submit "Resend unlock", class: "submit button" %>
      </div>
    <% end %>
    <div class="another_way_btn_box">
        <%= link_to "Sign in", users_sign_in_path %><br />
        <%= link_to "Sign up", new_user_registration_path %><br />
        <%= link_to "Forget Password?", new_user_password_path %>
    </div>
  </div>
</div>
<style>
  h3 {margin-bottom:40px;}
  form#new_user {
    width: 340px;
  }
</style>
