<div class="nested-fields">
  <div class="guide_item_left_box">
    <div class="guide_image_box_inside">
      <img id="guide_image_prev0" src="#" class="hidden " />
      <% if @activity_business.guides.any? && f.index.to_s =~ /^[0-9]+$/ && @activity_business.guides.offset(f.index).first %>
        <%= image_tag @activity_business.guides.offset(f.index).first.avatar.to_s, class: 'guide_present_image', id: 'guide_present_image' %>
      <% else %>
        <%= image_tag 'default_images/no_avatar_image.png', class: 'guide_present_image', id: 'guide_present_image' %>
        <%= f.hidden_field :avatar_cache %>
      <% end %>
      <div class="user_edit_image_upload_btn_box">
        <%= f.file_field :avatar, id: 'guide_image_input', class: 'guide_image_upload_btn',onchange: 'selectFile(this)', oninput: 'hasInput()' %>
        <span onclick="guide_image_input_btn(this)" class="avatar_input_icon"><i class="fas fa-camera"></i></span>
      </div>
    </div>
  </div>
  <div class="guide_item_right_box">
    <div class="guide_item_right_box_left">
      <div class="guide_input_box">
        <%= f.label t('activerecord.attributes.activity_business/guides.name') %>
        <%= f.text_field :name, maxlength: 40, class: "form-control", oninput: 'hasInput()' %>
      </div>
      <div class="guide_input_box">
        <%= f.label t('activerecord.attributes.activity_business/guides.roll') %>
        <%= f.text_field :roll, maxlength: 100, class: "form-control", oninput: 'hasInput()' %>
      </div>
      <div class="guide_input_box profile">
        <%= f.label t('activerecord.attributes.activity_business/guides.introduction') %>
        <%= f.text_area :introduction, maxlength: 200, class: "form-control" %>
      </div>
      <div class="guide_input_box guide_language_check_boxes">
        <li>
          <%= f.check_box :speak_japanese,:as => :boolean, oninput: 'hasInput()'%>
          <%= f.label t('activerecord.attributes.activity_business/guides.speak_japanese') %>
        </li>
        <li>
          <%= f.check_box :speak_english,:as => :boolean, oninput: 'hasInput()'%>
          <%= f.label t('activerecord.attributes.activity_business/guides.speak_english') %>
        </li>
        <li>
          <%= f.check_box :speak_chinese,:as => :boolean, oninput: 'hasInput()'%>
          <%= f.label t('activerecord.attributes.activity_business/guides.speak_chinese') %>
        </li>
      </div>

    </div>
    <div class="guide_item_right_box_right">
      <div class="delete_guide_btn">
        <%= link_to_remove_association f, class: "remove_guide_btn", onClick: 'hasInput()' do %>
          <span><i class="far fa-trash-alt"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function guide_image_input_btn(obj) {
    const guideSelectElement = obj.parentNode.children[0];
    if (guideSelectElement.classList.contains('field_with_errors')) {
      const inputBtn = guideSelectElement.children[0];
      inputBtn.click();
    } else {
      guideSelectElement.click();
    }
  }

  function selectFile(obj) {
    const selfId = obj.id
    console.log(obj.id);
    const guideImageFile = obj.files[0];
    const blobUrl = window.URL.createObjectURL(guideImageFile);
    // console.log(blobUrl);
    const post_img = document.getElementById(`guide_image_prev${selfId}`);
    post_img.src = blobUrl;
    post_img.classList.toggle("hidden");
    const before_img = document.getElementById(`guide_present_image${selfId}`);
    before_img.classList.toggle("hidden");
  }

</script>
