<div class="nested-fields">
  <div class="guide_item_left_box">
    <div class="guide_image_box_inside">
      <img id="guide_image_prev" src="#" class="hidden " />
      <% if @activity_business.guides.any? && f.index.to_s =~ /^[0-9]+$/ %>
        <%= image_tag @activity_business.guides.offset(f.index).first.avatar.to_s, class: 'guide_present_image', id: 'guide_present_image' %>
      <% else %>
        <%= image_tag 'default_images/no_avatar_image.png', class: 'guide_present_image', id: 'guide_present_image' %>
        <%= f.hidden_field :avatar_cache %>
      <% end %>
      <div id="user_edit_image_upload_btn_box">
        <%= f.file_field :avatar, id: 'guide_image[f.index]', class: 'guide_image_upload_btn',onchange: 'selectFile(this)' %>
        <span id="user_edit_image_upload_btn" onclick="guide_image_input_btn(this)"><i class="fas fa-camera"></i></span>
      </div>
    </div>
    <%= f.index %>
    <%# if f.index.to_s =~ /^[0-9]+$/ %>
      <%# image_tag Guide.limit(1).offset(0).avatar.to_s, class: 'guide_present_image', id: 'guide_present_image' %>
      <%#= image_tag @activity_business.guides.offset(f.index).first.avatar.to_s, class: 'guide_present_image', id: 'guide_present_image' %>
    <%# end %>
    <!-- <div id="user_edit_image_upload_btn_box">
      <%#= f.file_field :avatar, id: 'guide_image' %>
      <span id="user_edit_image_upload_btn" onclick="guide_image_input_btn()"><i class="fas fa-camera"></i></span>
    </div> -->
  </div>
  <div class="guide_item_right_box">
    <div class="guide_item_right_box_left">
      <div class="guide_name_box">
        <%= f.label "ガイド名" %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
      <div class="guide_profile_box">
        <%= f.label "プロフィール（200字以内）" %>
        <%= f.text_area :introduction, class: "form-control", required: true %>
      </div>

    </div>
    <div class="guide_item_right_box_right">
      <div class="delete_guide_btn">
        <%= link_to_remove_association f, class: "remove_guide_btn" do %>
          <span><i class="far fa-trash-alt"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .nested-fields {
    display: flex;
  }
  .guide_item_left_box {
    width: 25%;
    padding-top: 10px;
  }
  .guide_item_right_box {
    width: 75%;
    display: flex;
  }
  .guide_image_box_inside {
    position: relative;
  }
  .guide_item_right_box_left {
    width: 90%;
  }
  .guide_item_right_box_left .form-control {
    width: 90%;
  }
  .guide_item_right_box_right {
    width: 10%;
  }
  div#user_edit_image_upload_btn_box {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: -1px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .guide_name_box {
    width: 90%;
  }
  .guide_profile_box {
    width: 90%;
  } */
  div#guides .nested-fields {
    padding: 15px;
  }
  .guide_image_box_inside img {
    background: #ffcbcb;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .guide_image_upload_btn {
    display: none;
  }
</style>

<script>

  window.onload = function () {
    //
  };

  function guide_image_input_btn(obj) {
    const guideSelectElement = obj.parentNode.children[0];
    guideSelectElement.click();
  }

  function selectFile(obj) {
    // const guideFile = obj.event.target.files[0];
    console.log(obj.target);
  }

  // document.getElementById('guide_image').addEventListener('change', function (e) {
  //   // 1枚だけ表示する
  //   const guideFile = e.target.files[0];
  //   // ファイルのブラウザ上でのURLを取得する
  //   const blobUrl = window.URL.createObjectURL(guideFile);
  //   // img要素に表示
  //   const post_img = document.getElementById('guide_image_prev');
  //   post_img.src = blobUrl;
  //   post_img.classList.toggle("hidden");
  //   const before_img = document.getElementById('guide_present_image');
  //   before_img.classList.toggle("hidden");
  //   // before_img.classList.remove("guide_present_image");
  // });
</script>
