<div class="nested-fields">
  <div class="guide_item_left_box">
    <div class="guide_image_box_inside">
      <img id="guide_image_prev" src="#" class="hidden " />
      <% if @activity_business.guides.any? && f.index.to_s =~ /^[0-9]+$/ %>
        <%= image_tag @activity_business.guides.offset(f.index).first.avatar.to_s, class: 'guide_present_image', id: 'guide_present_image' %>
      <% else %>
        <%= image_tag 'default_images/no_avatar_image.png', class: 'guide_present_image', id: 'guide_present_image' %>
        <%= f.hidden_field :avatar_cache %>
      <% end %>
      <div class="user_edit_image_upload_btn_box">
        <%= f.file_field :avatar, id: 'guide_image_input', class: 'guide_image_upload_btn',onchange: 'selectFile(this)', oninput: 'hasInput()' %>
        <span onclick="guide_image_input_btn(this)"><i class="fas fa-camera"></i></span>
      </div>
    </div>
  </div>
  <div class="guide_item_right_box">
    <div class="guide_item_right_box_left">
      <div class="guide_input_box">
        <%= f.label "ガイド名" %>
        <%= f.text_field :name, class: "form-control", oninput: 'hasInput()' %>
        <%#= f.text_field :name, class: "form-control", minlength: 2, maxlength: 40, required: true, oninput: 'hasInput()' %>
      </div>
      <div class="guide_input_box">
        <%= f.label "担当アクティビティ" %>
        <%= f.text_field :roll, maxlength: 30, class: "form-control", oninput: 'hasInput()' %>
      </div>
      <div class="guide_input_box profile">
        <%= f.label "プロフィール（200字以内）" %>
        <label><span>プロフィール（残り</span><span class="biz_guide_description_count">200</span><span>字）</span></label>
        <%= f.text_area :introduction, class: "form-control", oninput: 'countGuideProfile(this)' %>
        <%#= f.text_area :introduction, maxlength: 200, class: "form-control", oninput: 'countGuideProfile(this)' %>
      </div>
      <div class="guide_input_box guide_language_check_boxes">
        <li>
          <%= f.check_box :speak_japanese,:as => :boolean, oninput: 'hasInput()'%>
          <%= f.label :speak_japanese, :日本語 %>
        </li>
        <li>
          <%= f.check_box :speak_english,:as => :boolean, oninput: 'hasInput()'%>
          <%= f.label :speak_english, :英語 %>
        </li>
        <li>
          <%= f.check_box :speak_chinese,:as => :boolean, oninput: 'hasInput()'%>
          <%= f.label :speak_chinese, :中国語 %>
        </li>
      </div>

    </div>
    <div class="guide_item_right_box_right">
      <div class="delete_guide_btn">
        <%= link_to_remove_association f, class: "remove_guide_btn", onClick: 'hasInput()' do %>
          <span><i class="far fa-trash-alt"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function guide_image_input_btn(obj) {
    const guideSelectElement = obj.parentNode.children[0];
    guideSelectElement.click();
  }

  function selectFile(obj) {
    const selfId = obj.id
    const guideImageFile = obj.files[0];
    const blobUrl = window.URL.createObjectURL(guideImageFile);
    const post_img = document.getElementById(`guide_image_prev${selfId}`);
    post_img.src = blobUrl;
    post_img.classList.toggle("hidden");
    const before_img = document.getElementById(`guide_present_image${selfId}`);
    before_img.classList.toggle("hidden");
  }

</script>
