<div class="container user_show container-fluid row">
  <div class="user_show_side col-2">
    <%= render 'suppliers/supplier_page_front_sidebar' %>
  </div>
  <div class="user_show_content col-8">
    <!-- <form> -->
    <%= form_for [@supplier, @activity_business] do |form| %>
    <div class="user_show_content_down">
      <%= render 'layouts/error_messages', model: form.object %>
      <%= render :partial => 'activity_businesses/biz_form', :locals => {:form => form} %>
    </div>
    <% end %>
    <!-- </form> -->
    <div class="form_btns">
      <div class="row">
        <div class="col-half">
          <% if @owners.include?(@supplier) %>
            <%= link_to "Delete", supplier_activity_business_path(@supplier, @activity_business ),
            class: "member_delete_btn",
            method: :delete, data: { confirm: "削除すると全ての体験情報が消えます。よろしいですか？" }
            %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
