<div class="sign_up_in_page child_position_center">
  <div class="sign_up_in_page_end">
    <h3>アカウントロックを解除する</h3>
    <%= form_for(resource, as: resource_name, url: user_unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",class: "form-control" %>
      </div>

      <div class="form-group button">
        <%= f.submit "アカウントロック解除メール送信", class: "button btn-submit" %>
      </div>
    <% end %>
    <div class="another_way_btn_box">
        <%= link_to "ログイン", users_sign_in_path %><br />
        <%= link_to "ユーザー登録", new_user_registration_path %><br />
        <%= link_to "パスワードを忘れた方はコチラ", new_user_password_path %>
    </div>
  </div>
</div>
<style>
  h3 {margin-bottom:40px;}
  form#new_user {
    width: 340px;
  }
</style>
