
<div class="trip_manage_side_back_link">
  <%=link_to user_projects_path(current_user) do %>
    <span><i class="fas fa-angle-left"></i>Back to MyPage</span>
  <% end %>
</div>
<div class="trip_manage_side_links">
  <h3 style="color: #fff;">
    <%= image_tag "project_icons/#{@project.icon}", class: 'project_icon_on_sidebar' %>
    <%= @project.name %>
  </h3>
  <ul>
    <li><i class="fas fa-search"></i><%= link_to "Search", "#" %></li>
    <li><i class="fas fa-route"></i><%= link_to "My Route", "#" %></li>
    <li><i class="fas fa-heart"></i><%= link_to "Favorite", "#" %></li>
    <li><i class="far fa-bookmark"></i><%= link_to "Booked Items", "#" %></li>
    <li><i class="fas fa-users"></i><%= link_to "Manage Member", "#" %></li>
  </ul>
</div>

<div class="trip_project_profile_box">
  <div class="trip_project_profile_box_title">
    <div class="trip_project_profile_box_title_text">Trip Profile</div>
    <% if @owner == current_user %>
  <div class="trip_profile_edit_btn_box">
    <%= link_to "Edit", edit_user_project_path(current_user, @project) %>
  </div>
    <% end %>
  </div>
  <ul>
    <% if !@areas.nil? %>
      <% @areas.each do |area| %>
        <li class="trip_manager_side_area_item">
          <%= area.en_name %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="trip_profile_schedule_item">
    <span class="trip_profile_schedule_item_title"><i class="far fa-calendar-alt"></i>From</span>
    <span><%= @project.start_date ? @project.start_date : "no date" %></span>
  </div>
  <div class="trip_profile_schedule_item">
    <span class="trip_profile_schedule_item_title"><i class="far fa-calendar-alt"></i>To</span>
    <span><%= @project.start_date ? @project.start_date : "no date" %></span>
  </div>
  <ul>
    <% if !@user_projects.nil? %>
      <% @user_projects.each do |user_project| %>
        <% user = User.find(user_project.user_id) %>
        <li>
          <%= user.email%>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<style>
  .trip_manage_side {
    width: 20%;
    background: #215234;
    padding: 20px 0 30px  15px;
  }
  .trip_manage_side_back_link a {
    /* margin-right: 7px; */
    color: #fff;
  }
  .trip_manage_side_back_link svg {
    margin-right: 7px;
    color: #fff;
  }
  .trip_manage_side_links {
    padding-left: 15px;
    margin-bottom: 30px;
  }
  .trip_manage_side_links h3 {
    display: flex;
    align-items: center;
  }
  .trip_manage_side_links img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .trip_manage_side_links svg {
    color: #fff;
    margin-right: 12px;
  }
  .trip_manage_side_links li a{
    font-size: 17px;
    color: #fff;
  }
  .trip_project_profile_box {
    /* width: 100%; */
    margin-right: 15px;
    background: #ffffffc7;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 5px;
    border: solid 1px #fff;
  }
  .trip_project_profile_box_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .trip_project_profile_box_title_text {
    font-size: 16px;
    font-weight: bold;
    color: gray;
  }
  .trip_profile_edit_btn_box a {
    color: #fff;
    background: #ababab;
    border-radius: 5px;
    padding: 6px 8px;
  }

  .trip_profile_schedule_item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
  }
  span.trip_profile_schedule_item_title {
    background: #2bb560;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
  }
  .trip_profile_schedule_item svg {
    margin-right: 5px;
  }
  li.trip_manager_side_area_item {
    background: #ababab;
    padding: 2px 15px;
    width: fit-content;
    border-radius: 15px;
    color: #fff;
  }
</style>
