<div class="trip_manage_side_inner">
  <div class="trip_manage_side_back_link">
    <%=link_to projects_path do %>
      <span class="back_nav_text"><i class="fas fa-angle-left"></i>戻る</span>
    <% end %>
  </div>
  <div class="trip_manage_side_links">
    <%= link_to project_trip_managers_home_path(@project) do %>
      <h3 style="color: #fff;">
        <%= image_tag "project_icons/#{@project.icon}", class: 'project_icon_on_sidebar' %>
        <%= @project.name %>
      </h3>
    <% end %>
    <ul class="trip_manage_side_menu_link_ul">
      <li><i class="fas fa-search"></i><%= link_to "検索", project_search_home_path(@project) %></li>
      <li><i class="far fa-bookmark"></i><%= link_to "購入済みアイテム", project_purchase_list_path(@project) %></li>
      <li><i class="fas fa-users"></i><%= link_to "メンバー管理", project_members_path(@project) %></li>
      <li><i class="fas fa-users"></i><%= link_to "カート", project_cart_path(@project) %></li>
    </ul>
  </div>

  <% unless controller.controller_name == "projects" && controller.action_name == "edit" %>
    <div class="trip_project_profile_box">
      <div class="trip_project_profile_box_title">
        <div class="trip_project_profile_box_title_text">Trip Profile</div>
        <% if @owner == current_user %>
      <div class="trip_profile_edit_btn_box">
        <%= link_to "Edit", edit_project_path(@project) %>
      </div>
        <% end %>
      </div>
      <ul>
        <% if !@project.areas.nil? %>
          <% @project.areas.each do |area| %>
            <li class="trip_manager_side_area_item">
              <%= area.en_name %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="trip_profile_schedule_item">
        <span class="trip_profile_schedule_item_title"><i class="far fa-calendar-alt"></i>From</span>
        <span><%= @project.start_date ? @project.start_date : "no date" %></span>
      </div>
      <div class="trip_profile_schedule_item">
        <span class="trip_profile_schedule_item_title"><i class="far fa-calendar-alt"></i>To</span>
        <span><%= @project.start_date ? @project.start_date : "no date" %></span>
      </div>
      <ul>
        <% if !@user_projects.nil? %>
          <% @user_projects.each do |user_project| %>
            <% user = User.find(user_project.user_id) %>
            <li>
              <%= user.email%>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<style lang="scss">
  ul.trip_manage_side_menu_link_ul li {
    padding: 3px 0;
  }
</style>
