<div class="activity_detail_container">
  <section class="activity_detail_top">
    <ul class="activity_top_image_items">
      <li class="activity_detail_image_item first_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image left_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item last_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image right_image' if !@activity.main_image.blank? %>
      </li>
    </ul>
  </section>
  <div class="activity_detail_under_image_container">
    <div class="activity_detail_left_contents">
      <section class="activity_detail_title_section">
        <div class="activity_detail_category">
          <% if !@activity.activity_category_id.nil? %>
            <span><%= ActivityCategory.find(@activity.activity_category_id).jp_name %></span>
          <% else %>
            <span><%= '旅行体験' %></span>
          <% end %>
        </div>
        <h5 class="activity_detail_title"><%= @activity.name if !@activity.nil? %></h5>
        <div class="activity_detail_under_title_box">
          <div class="activity_detail_under_title_stars_box">
            <i class="fas fa-star"></i>
            <div class="activity_detail_under_title_points">4.2</div>
            <div class="activity_detail_under_title_reviews">(52)</div>
          </div>
          <div class="activity_detail_under_title_area_box">
            <i class="fas fa-map-marker-alt"></i>
            <div class="activity_detail_under_title_area">
              <% if !@activity.area_id.nil? %>
                <%= Area.find(@activity.area_id).local_name %>
              <% else %>
                <%= 'エリアなし' %>
              <% end %>
          </div>
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">基本情報</div>
            </div>
            <div class="activity_detail_basic_info_inner_info_box">
              <ul>
                <li class="basic_info_item">
                  <i class="far fa-clock"></i>
                  <span><%= @activity.activity_minutes %>時間</span>
                </li>
                <li class="basic_info_item">
                  <i class="fas fa-users"></i>
                  <span>最少<%= @activity.minimum_num %>から最大<%= @activity.maximum_num %>人まで</span>
                </li>
                <li class="basic_info_item">
                  <i class="fas fa-child"></i>
                  <span>最低年齢<%= @activity.available_age %>歳から</span>
                </li>
                <li class="basic_info_item">
                  <i class="far fa-calendar-alt"></i>
                  <span><%= @activity.is_all_year_open ? '通年の体験' : "#{@activity.start_date.strftime("%Y/%m/%d")}〜#{@activity.end_date.strftime("%Y/%m/%d")}" %></span>
                </li>
                <li class="basic_info_item">
                  <i class="fas fa-hand-holding-heart"></i>
                  <% if @activity_business.has_insurance %>
                  <div class="insurance_box">
                    <span>保険に加入</span>
                  </div>
                  <% else %>
                  <div class="no_insurance_box">
                    <span>保険に未加入</span>
                  </div>
                  <% end %>
                </li>
                <li class="basic_info_item">
                  <i class="fas fa-language"></i>
                  <div><span>日本語</span><span>English</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">ホスト</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <div class="title_box">
                <div class="biz_icon_box">
                  <%= image_tag @activity_business.profile_image.to_s, class: 'biz_icon' if !@activity_business.profile_image.blank? %>
                </div>
                <div class="biz_name">
                  <%= @activity_business.name %>
                </div>
              </div>
              <div class="guides_box">
                <ul>
                <% @activity_business.guides.each do |guide| %>
                  <li class="guide_item">
                    <%= image_tag guide.avatar.to_s, class: 'guide_avatar' if !guide.avatar.blank? %>
                    <div class="guide_name"><%=guide.name%></div>
                  </li>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_profile_info_inner">
          <p>体験について</p>
          <p><%= !@activity.description.blank? ? @activity.description : '紹介文がありません' %></p>
        </div>
        <div class="activity_detail_profile_info_inner">
          <p>持ち物・補足事項・注意点など</p>
          <p><%= !@activity.notes.blank? ? @activity.notes : '補足事項はありません' %></p>
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">料金</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <div class="guides_box">
                <table class="ageprices_table">
                  <tr>
                    <th>年齢</th>
                    <th>通常料金</th>
                    <th>ローシーズン料金</th>
                    <th>ハイシーズン料金</th>
                  </tr>
                  <% @ageprices.each_with_index do |price, index| %>
                  <tr>
                      <td><%= price.age_from %><%= index == 0 ? "歳以上" : "" %><%= "〜#{price.age_to}歳" if index != 0 %></td>
                      <td>¥<%= price.normal_price.to_s(:delimited) %></td>
                      <td>¥<%= price.low_price.to_s(:delimited) %></td>
                      <td>¥<%= price.high_price.to_s(:delimited) %></td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">タイムテーブル</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <ul class="course_box">
                  <% @courses.each_with_index do |course, index| %>
                    <li class="course_item">
                      <div class="course_item_num_box">
                        <span><%= index + 1 %></span>
                      </div>
                      <div class="course_time"><%= course.start_time.strftime("%H:%M") %>〜</div>
                    </li>
                  <% end %>
              </ul>
              <div class="holiday_table">
                  <span>定休日</span>
                  <span>
                    <% wday = ["月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日", "日曜日"]%>
                    <% @holidays.each_with_index do |day_is_open, index|%>
                      <span><%= "#{wday[index]}/" if !day_is_open %></span>
                    <% end %>
                    <%= "なし" if @holidays.uniq.count == 1 && @holidays[0] == true %>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">集合場所</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <div class="guides_box">
                <table class="cansel_table">
                  <tr>
                    <td class="cansel_table_front_td">集合場所住所：</td>
                    <td><%= @activity.meeting_spot1_japanese_address %></td>
                  </tr>
                  <tr>
                    <td class="cansel_table_front_td">集合場所の補足：</td>
                    <td><%= @activity.meeting_spot1_japanese_description %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">キャンセル・悪天候時の対応</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <div class="guides_box">
                <table class="cansel_table">
                  <tr>
                    <td class="cansel_table_front_td">雨天時の対応：</td>
                    <td><%= @activity.rain_or_shine ? '雨天決行' : '雨天中止' %></td>
                  </tr>
                  <tr>
                    <td class="cansel_table_front_td">キャンセル期限：</td>
                    <td>
                      <% if @activity_business.no_charge_cansel_before == 'a_week_before' %>
                        <span>７日前までキャンセル無料</span>
                      <% elsif @activity_business.no_charge_cansel_before == 'three_days_before' %>
                        <span>３日前までキャンセル無料</span>
                      <% else %>
                        <span>前日までキャンセル無料</span>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="activity_detail_right_sidebar">
      <div class="activity_detail_sidebar_inner">
        <div class="activity_price_box">
          <div class="activity_price_box_price">¥<%= @activity.normal_adult_price.to_s(:delimited)%></div>
          <div class="activity_price_box_text">/おとな一人</div>
        </div>
        <%= form_for(@book_activity, url: project_book_activity_create_path) do |form| %>
          <div class="sidebar_form_inner_top">
            <%= form.hidden_field :total_price, value: 0%>
            <%= form.hidden_field :project_id, value: @project.id %>
            <%= form.hidden_field :activity_id, value: @activity.id %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <div class="calendar_form_fix_field">
              <%= form.label 'スケジュール' %>
              <div class="date_field_box" id="date_field_box">
                <div class="date_field_box_date">
                  <span class="date_field_box_icon"><i class="far fa-calendar-alt"></i></span>
                  <span id="date_field_box_date_span"><%= Date.today.strftime("%y/%m/%d")%></span>
                </div>
                <div class="date_field_box_course">
                  <span class="date_field_box_icon"><i class="far fa-clock"></i></span>
                  <span id="date_field_box_time_span">00:00</span>
                </div>
              </div>
              <%= form.hidden_field :activity_date ,class: "form-control", id: 'activity_date_form' %>
              <%= form.hidden_field :activity_start_time ,class: "form-control", id: 'activity_time_form' %>
            </div>
            <div class="calendar_form hidden" id="activity_stock_calendar_form">
              <div class="calendar_form_month_link_container">
                <button class="previous_button" type="button" name="button" onclick="showPreviousMonth()">戻る</button>
                <div class="calender_month_num_box">
                  <span class="calender_month_num" id="calender_month_num"><%=Date.today.month%></span>
                  <span class="calender_month_unit">月</span>
                  <input type="hidden" id='selected_month' value="this_month" %>
                </div>
                <button class="next_button" type="button" name="button" onclick="showNextMonth()">次へ</button>
              </div>
              <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
              <% if !@courses.nil? && !@this_month_stocks.blank? %>
                <table class="stock_book_table" id="this_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <% @this_month_stocks.each_with_index do |this_month_stock, indexA|%>
                  <tr class="stock_book_table_tr_data">
                    <td class="stock_book_table_date_td"><%=this_month_stock.date.strftime("%m/%d(#{wd[this_month_stock.date.wday]})")%></td>
                    <% @courses.each_with_index do |course, indexB|%>
                      <td class="stock_book_table_course_stock_td">
                        <div class="inside_stock_td">
                          <div class="inside_stock_td_front">
                            <%= course.activity_stocks.find_by(date: this_month_stock.date).stock %>
                          </div>
                          <div class="inside_stock_td_back" id="<%= indexA %>_<%= indexB %>">
                            <%= hidden_field_tag "stock_#{indexA}", this_month_stock.date %>
                            <%= hidden_field_tag "course_#{indexB}", course.start_time %>
                            <button id="<%= indexA %>_<%= indexB %>" onclick="selectStock(this)" type="button" name="button" class="stock_select_btn">選択</button>
                          </div>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              <% else %>
                <table class="stock_book_table" id="this_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <tr class="stock_book_table_tr_no_data">
                    <td class="stock_book_table_no_date_td" colspan="<%=@courses.size + 1%>">この月には在庫がありません</td>
                  </tr>
                </table>
              <% end %>
              <% if !@courses.nil? && !@next_month_stocks.blank? %>
                <table class="stock_book_table hidden" id="next_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <% @next_month_stocks.each_with_index do |next_month_stock, indexA|%>
                  <tr class="stock_book_table_tr_data">
                    <td class="stock_book_table_date_td"><%=next_month_stock.date.strftime("%m/%d(#{wd[next_month_stock.date.wday]})")%></td>
                    <% @courses.each_with_index do |course, indexB|%>
                      <td class="stock_book_table_course_stock_td">
                        <div class="inside_stock_td">
                          <div class="inside_stock_td_front">
                            <%= course.activity_stocks.find_by(date: next_month_stock.date).stock %>
                          </div>
                          <div class="inside_stock_td_back" id="<%= indexA %>_<%= indexB %>">
                            <%= hidden_field_tag "stock_#{indexA}", next_month_stock.date %>
                            <%= hidden_field_tag "course_#{indexB}", course.start_time %>
                            <button id="<%= indexA %>_<%= indexB %>" onclick="selectStock(this)" type="button" name="button" class="stock_select_btn">選択</button>
                          </div>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              <% else %>
                <table class="stock_book_table hidden" id="this_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <tr class="stock_book_table_tr_no_data">
                    <td class="stock_book_table_no_date_td" colspan="<%=@courses.size + 1%>">この月には在庫がありません</td>
                  </tr>
                </table>
              <% end %>
              <% if !@courses.nil? && !@next2_month_stocks.blank? %>
                <table class="stock_book_table hidden" id="next2_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <% @next2_month_stocks.each_with_index do |next2_month_stock, indexA|%>
                  <tr class="stock_book_table_tr_data">
                    <td class="stock_book_table_date_td"><%=next2_month_stock.date.strftime("%m/%d(#{wd[next2_month_stock.date.wday]})")%></td>
                    <% @courses.each_with_index do |course, indexB|%>
                      <td class="stock_book_table_course_stock_td">
                        <div class="inside_stock_td">
                          <div class="inside_stock_td_front">
                            <%= course.activity_stocks.find_by(date: next2_month_stock.date).stock %>
                          </div>
                          <div class="inside_stock_td_back" id="<%= indexA %>_<%= indexB %>">
                            <%= hidden_field_tag "stock_#{indexA}", next2_month_stock.date %>
                            <%= hidden_field_tag "course_#{indexB}", course.start_time %>
                            <button id="<%= indexA %>_<%= indexB %>" onclick="selectStock(this)" type="button" name="button" class="stock_select_btn">選択</button>
                          </div>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              <% else %>
                <table class="stock_book_table hidden" id="this_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <tr class="stock_book_table_tr_no_data">
                    <td class="stock_book_table_no_date_td" colspan="<%=@courses.size + 1%>">この月には在庫がありません</td>
                  </tr>
                </table>
              <% end %>
              <% if !@courses.nil? && !@next3_month_stocks.blank? %>
                <table class="stock_book_table hidden" id="next3_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <% @next3_month_stocks.each_with_index do |next3_month_stock, indexA|%>
                  <tr class="stock_book_table_tr_data">
                    <td class="stock_book_table_date_td"><%=next3_month_stock.date.strftime("%m/%d(#{wd[next3_month_stock.date.wday]})")%></td>
                    <% @courses.each_with_index do |course, indexB|%>
                      <td class="stock_book_table_course_stock_td">
                        <div class="inside_stock_td">
                          <div class="inside_stock_td_front">
                            <%= course.activity_stocks.find_by(date: next3_month_stock.date).stock %>
                          </div>
                          <div class="inside_stock_td_back" id="<%= indexA %>_<%= indexB %>">
                            <%= hidden_field_tag "stock_#{indexA}", next3_month_stock.date %>
                            <%= hidden_field_tag "course_#{indexB}", course.start_time %>
                            <button id="<%= indexA %>_<%= indexB %>" onclick="selectStock(this)" type="button" name="button" class="stock_select_btn">選択</button>
                          </div>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              <% else %>
                <table class="stock_book_table hidden" id="this_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <tr class="stock_book_table_tr_no_data">
                    <td class="stock_book_table_no_date_td" colspan="<%=@courses.size + 1%>">この月には在庫がありません</td>
                  </tr>
                </table>
              <% end %>

            </div>
            <div class="member_form_radio_box">
              <div class="member_form_radio_item">
                <input type="radio" name="participant" id="each" checked><label for="each">人数を選択</label>
              </div>
              <div class="member_form_radio_item">
                <input type="radio" name="participant" id="members"><label for="members">メンバーから選択</label>
              </div>
            </div>
            <div class="member_form_radio_box">
              <div class="member_form_radio_item">
                <input type="radio" name="participant" id="each" checked><label for="each">人数を選択</label>
              </div>
              <div class="member_form_radio_item">
                <input type="radio" name="participant" id="members"><label for="members">メンバーから選択</label>
              </div>
            </div>
          </div>
          <div class="sidebar_form_inner_bottom">
            <div id="total_price_box">
              <div>TOTAL</div>
              <div>
                <span>¥</span>
                <span><%= @activity.normal_adult_price%></span>
              </div>
              <%= form.submit('予約する',class: 'button btn-submit') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<style lang="scss">
  .activity_detail_container {
    padding: 30px 20px 20px 30px;
    position: relative;
  }
  .activity_detail_under_image_container {
    display: flex;
    margin-top: 40px;
  }
  .activity_detail_left_contents {
    width: calc(100% - 350px)
  }
  .activity_detail_right_sidebar {
    width: 350px;
    height: 100%;
    position: sticky;
    top: 70px;
  }

  /* 画像セクション *************************************/
  ul.activity_top_image_items {
    margin: 0;
    display: flex;
    width: 100%;
  }
  li.activity_detail_image_item {
    width: 24%;
    margin-right: 1%;
  }
  li.activity_detail_image_item.last_item {
    margin-right: 0%;
  }
  img.activity_detail_image {
    object-fit: cover;
    width: 100%;
    height: 270px;
  }
  img.activity_detail_image.left_image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  img.activity_detail_image.right_image {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  /* タイトル **********************************/
  section.activity_detail_title_section {
    width: 98%;
    padding: 0px 0px 20px;
  }
  .activity_detail_under_title_box {
    display: flex;
    align-items: center;
  }
  .activity_detail_category {
    margin-bottom: 10px;
  }
  .activity_detail_category span {
    background: #06aee9;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
  }
  h5.activity_detail_title {
    font-size: 23px;
    margin: 0 0 10px;
    line-height: 28px;
    color: #4a4a4a;
    padding-right: 30px;
  }
  .activity_detail_under_title_stars_box,
  .activity_detail_under_title_area_box {
    display: flex;
    align-items: center;
    height: 28px;
    margin-right: 20px;
  }
  .activity_detail_under_title_stars_box svg {
    padding-bottom: 2px;
    margin-right: 5px;
    color: #0ea9e7;
  }
  .activity_detail_under_title_points {
    color: #656464;
    margin-right: 4px;
    font-weight: bold;
  }
  .activity_detail_under_title_reviews {
    color: #656464;
  }
  .activity_detail_under_title_area_box svg {
    padding-bottom: 2px;
    margin-right: 5px;
    color: #0ea9e7;
  }
  /* ベーシックinfo ***********************************/
  section.activity_detail_basic_info_section {
    width: 95%;
    padding: 10px 0px;
  }
  /* .activity_detail_basic_info_inner {
    display: flex;
    flex-direction: column;
    border: solid 1px #e3e3e3;
    border-radius: 7px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px -1px lightgrey;
  } */
  .activity_detail_basic_info_inner {
    display: flex;
    flex-direction: column;
    border: solid 1px #696969;
    border-radius: 7px;
    margin-bottom: 30px;
  }
  .activity_detail_basic_info_inner_inner {
    padding: 10px 20px 15px;
  }
  .activity_detail_basic_info_inner_biz_box {
    display: flex;
    flex-direction: column;
  }
  .activity_detail_basic_info_inner_biz_box.about_guide {
    padding: 20px 0px 5px;
  }
  .title_box {
    display: flex;
    align-items: center;
  }
  .biz_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px #dadada;
    box-shadow: 0px 0px 4px -1px lightgrey;
    margin-right: 13px;
  }
  .activity_detail_basic_info_inner_info_box ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  li.basic_info_item {
    width: 46%;
    display: flex;
    align-items: center;
    padding: 0 4% 0 0;
    margin: 10px 0 15px;
  }
  li.basic_info_item span {
    font-size: 13px;
    color: #424242;
    margin-left: 10px;
  }
  li.basic_info_item svg {
    width: 30px !important;
    height: 30px;
    color: #0ea7e6;
  }
  .activity_detail_profile_info_inner {
    margin-bottom: 60px;
    padding: 0 30px 0 0;
  }
  .guides_box ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0;
  }
  .guides_box ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    padding: 0 2% 15px;
  }
  img.guide_avatar {
    width: 100%;
    border-radius: 50%;
  }
  .guide_name {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  }
  table.ageprices_table {
    width: 100%;
  }
  table.ageprices_table tr th {
    text-align: left;
  }
  td.cansel_table_front_td {
    width: 25%;
    text-align: right;
  }
  ul.course_box {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  li.course_item {
    width: 50%;
    margin-bottom: 10px;
  }
  li.course_item {
    width: 33%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .course_item_num_box {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    margin-right: 10px;
  }
  .course_time {
    font-size: 15px;
    height: 20px;
  }
  /* カレンダー ***********************************/
  form#new_booked_activity {
    position: relative;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  form#new_booked_activity button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  form#new_booked_activity button:focus {
    outline: 0;
  }
  .sidebar_form_inner_bottom {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
  .calendar_form_month_link_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
  }
  .calendar_form_month_link_container button {
    width: 80px;
    height: 36px;
    border-radius: 9px;
    border: none;
    box-shadow: 0px 0px 6px -2px #797979;
    color: white;
    background: #0ea7e6;
  }
  .button.previous_button {
    margin-left: 10px;
  }
  .button.next_button {
    margin-right: 10px;
  }
  span.calender_month_num {
    font-size: 25px;
    font-weight: bold;
    color: #0da7e5;
  }
  span.calender_month_unit {
    font-size: 18px;
    font-weight: bold;
    color: #0da7e5;
  }
  .calendar_form {
    width: 900px;
    position: absolute;
    top: 24px;
    right: 0px;
    z-index: 100;
    padding: 50px 10px 20px 10px;
    background: #fff;
    border-radius: 10px;
    border: solid 3px #464646;
    box-shadow: 0px 0px 6px -1px #c7c7c7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
  }
  table.stock_book_table {
    width: 100%;
    margin-top: 2px;
    height: 300px;
    display: block;
    overflow-y: scroll;
    border: solid 3px #0da7e5;
    border-radius: 9px;
  }
  table.stock_book_table tbody {
    width: 100%;
  }
  th.stock_book_table_th {
    position: sticky;
    top: 0;
    background: #fff;
    width: 140px !important;
    padding: 5px;
  }
  th.stock_book_table_th.first {
    color: #fff;
    width: 50px;
    background: #fff !important;
  }
  .stock_book_table_tr_data {
    height: 60px;
  }
  th.stock_book_table_th:nth-child(odd) {
    background: #e5f7ff;
  }
  td.stock_book_table_course_stock_td:nth-child(odd) {
    background: #e5f7ff;
  }
  .inside_stock_td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stock_select_btn {
    border-radius: 5px;
    font-size: 11px;
    color: #ffffff;
    padding: 3px 8px;
    border: none;
    background: #0ea7e6;
  }
  tr.stock_book_table_tr_no_data {
    border: none;
  }
  td.stock_book_table_no_date_td {
    text-align: center;
    padding-top: 40px;
  }
  .calendar_form_fix_field {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 200;
    width: 100%;
  }
  .member_form_radio_box {
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 10px 10px;
  }
  .member_form_radio_item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  .member_form_radio_item input {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  .member_form_radio_item label {
    margin-left: 8px;
    font-size: 15px;
    width: 100%;
  }
  div#total_price_box {
    /* right: 0;
    position: absolute;
    top: 200px; */
    width: 100%;
  }

  /* サイドバー ***********************************/
  .activity_detail_sidebar_inner {
    padding: 20px 20px;
    background: #fff;
    height: 600px;
    box-shadow: 0px 0px 7px -1px #cccccc;
    border-radius: 10px;
  }
  .activity_price_box {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
  }
  .activity_price_box_price {
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
    color: #616161;
  }
  .activity_price_box_text {
    font-size: 15px;
    color: #656565;
  }
  div#date_field_box {
    display: flex;
    justify-content: space-between;
    border: solid 3px #464646;
    padding: 10px 10px;
    border-radius: 10px;
    user-select: none;
  }
  div#date_field_box:hover {
    cursor: pointer;
  }
</style>

<script type="text/javascript">
  document.getElementById('date_field_box').addEventListener('click', function (e) {
    const calendarFrom = document.getElementById('activity_stock_calendar_form');
    const isClose = calendarFrom.classList.contains('hidden');
    if (isClose) {
      calendarFrom.classList.remove('hidden');
    } else {
      calendarFrom.classList.add('hidden');
    }
  });

  function showPreviousMonth() {
    const selectedMonth = document.getElementById('selected_month');

    const calendarThisMonth = document.getElementById('this_month_calender');
    const calendarNextMonth = document.getElementById('next_month_calender');
    const calendarNext2Month = document.getElementById('next2_month_calender');
    const calendarNext3Month = document.getElementById('next3_month_calender');

    if (selectedMonth.value == "next_month") {
      calendarThisMonth.classList.remove('hidden');
      calendarNextMonth.classList.add('hidden');
      calendarNext2Month.classList.add('hidden');
      calendarNext3Month.classList.add('hidden');
      minusMonthNum();
    } else if (selectedMonth.value == "next2_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.remove('hidden');
      calendarNext2Month.classList.add('hidden');
      calendarNext3Month.classList.add('hidden');
      minusMonthNum();
    } else if (selectedMonth.value == "next3_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.add('hidden');
      calendarNext2Month.classList.remove('hidden');
      calendarNext3Month.classList.add('hidden');
      minusMonthNum();
    }
  }

  function showNextMonth() {
    const selectedMonth = document.getElementById('selected_month');
    const calendarThisMonth = document.getElementById('this_month_calender');
    const calendarNextMonth = document.getElementById('next_month_calender');
    const calendarNext2Month = document.getElementById('next2_month_calender');
    const calendarNext3Month = document.getElementById('next3_month_calender');

    if (selectedMonth.value == "this_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.remove('hidden');
      calendarNext2Month.classList.add('hidden');
      calendarNext3Month.classList.add('hidden');
      addMonthNum();
    } else if (selectedMonth.value == "next_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.add('hidden');
      calendarNext2Month.classList.remove('hidden');
      calendarNext3Month.classList.add('hidden');
      addMonthNum();
    } else if (selectedMonth.value == "next2_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.add('hidden');
      calendarNext2Month.classList.add('hidden');
      calendarNext3Month.classList.remove('hidden');
      addMonthNum();
    }
  }

  function minusMonthNum() {
    const calenderMonth = document.getElementById('calender_month_num');
    const calenderMonthNum = parseInt(calenderMonth.innerHTML);
    const selectedMonth = document.getElementById('selected_month');
    if (selectedMonth.value == "next_month") {
      selectedMonth.value = "this_month";
    } else if (selectedMonth.value == "next2_month") {
      selectedMonth.value = "next_month";
    } else if (selectedMonth.value == "next3_month") {
      selectedMonth.value = "next2_month";
    }
    if (calenderMonth.innerHTML >= 2) {
      calenderMonth.innerHTML = calenderMonthNum - 1;
    } else if (calenderMonth.innerHTML == 1){
      calenderMonth.innerHTML = 12;
    }
  }
  function addMonthNum() {
    const calenderMonth = document.getElementById('calender_month_num');
    const calenderMonthNum = parseInt(calenderMonth.innerHTML);
    const selectedMonth = document.getElementById('selected_month');
    if (selectedMonth.value == "this_month") {
      selectedMonth.value = "next_month";
    } else if (selectedMonth.value == "next_month") {
      selectedMonth.value = "next2_month";
    } else if (selectedMonth.value == "next2_month") {
      selectedMonth.value = "next3_month";
    }
    if (calenderMonth.innerHTML <= 11) {
      calenderMonth.innerHTML = calenderMonthNum + 1;
    } else if (calenderMonth.innerHTML == 12){
      calenderMonth.innerHTML = 1;
    }
  }

  function selectStock(value) {
    const target = value.parentNode;
    const targetDate = target.children[0].value;
    const activityDate = new Date(targetDate);
    const year = activityDate.getFullYear();
    const month = ("0"+(activityDate.getMonth() + 1)).slice(-2)
    const date = ("0"+ activityDate.getDate()).slice(-2);
    const bookDate = `${year}/${month}/${date}`;
    const dateDisplay = document.getElementById('date_field_box_date_span');
    dateDisplay.innerHTML = bookDate;

    const targetTime = target.children[1].value;
    const activityTime = new Date(targetTime);
    const hours = ("0"+ (activityTime.getHours() -9 )).slice(-2);
    const minutes = ("0"+ activityTime.getMinutes()).slice(-2);
    const seconds = ("0"+ activityTime.getSeconds()).slice(-2);
    const bookTime = `${hours}:${minutes}`;
    const timeDisplay = document.getElementById('date_field_box_time_span');
    timeDisplay.innerHTML = bookTime;

    const dateForm = document.getElementById('activity_date_form');
    const dateFormFomat = `${year}-${month}-${date}`;
    dateForm.value = dateFormFomat;

    const timeForm = document.getElementById('activity_time_form');
    const timeFormFomat = `${hours}:${minutes}:${seconds}`;
    timeForm.value = timeFormFomat;

    const calendarFrom = document.getElementById('activity_stock_calendar_form');
    calendarFrom.classList.add('hidden');
  }
</script>
