<div class="activity_detail_container">
  <section class="activity_detail_top">
    <ul class="activity_top_image_items">
      <li class="activity_detail_image_item first_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image left_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item last_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image right_image' if !@activity.main_image.blank? %>
      </li>
    </ul>
  </section>
  <div class="activity_detail_under_image_container">
    <div class="activity_detail_left_contents">
      <section class="activity_detail_title_section">
        <div class="activity_detail_category">
          <% if !@activity.activity_category_id.nil? %>
            <span><%= ActivityCategory.find(@activity.activity_category_id).jp_name %></span>
          <% else %>
            <span><%= '旅行体験' %></span>
          <% end %>
        </div>
        <h5 class="activity_detail_title"><%= @activity.name if !@activity.nil? %></h5>
        <div class="activity_detail_under_title_box">
          <div class="activity_detail_under_title_stars_box">
            <i class="fas fa-star"></i>
            <div class="activity_detail_under_title_points">4.2</div>
            <div class="activity_detail_under_title_reviews">(52)</div>
          </div>
          <div class="activity_detail_under_title_area_box">
            <i class="fas fa-map-marker-alt"></i>
            <div class="activity_detail_under_title_area">
              <% if !@activity.area_id.nil? %>
                <%= Area.find(@activity.area_id).local_name %>
              <% else %>
                <%= 'エリアなし' %>
              <% end %>
          </div>
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
        <div class="activity_detail_basic_info_inner">
          あああああああああああああああああ
        </div>
      </section>
    </div>
    <div class="activity_detail_right_sidebar">
      <div class="activity_detail_sidebar_inner">
        ¥2400
        <%#= form_for [@book_activity, @project, @activity], url: project_book_activity_create_path do |form| %>
          <%#= form.label "日付" %>
          <%#= form.date_field :start_date, min: Date.today ,class: "form-control" %>
          <%#= form.submit('予約する',class: 'button btn-submit') %>
        <%# end %>
      </div>
    </div>
  </div>
</div>


<style lang="scss">
  .activity_detail_container {
    padding: 40px 20px 20px 40px;
    position: relative;
  }
  .activity_detail_under_image_container {
    display: flex;
    margin-top: 40px;
  }
  .activity_detail_left_contents {
    width: 70%;
  }
  .activity_detail_right_sidebar {
    width: 30%;
    height: 100%;
    position: sticky;
    top: 70px;
  }

  /* 画像セクション *************************************/
  ul.activity_top_image_items {
    margin: 0;
    display: flex;
    width: 100%;
  }
  li.activity_detail_image_item {
    width: 24%;
    margin-right: 1%;
  }
  li.activity_detail_image_item.last_item {
    margin-right: 0%;
  }
  img.activity_detail_image {
    object-fit: cover;
    width: 100%;
    height: 270px;
  }
  img.activity_detail_image.left_image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  img.activity_detail_image.right_image {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  /* タイトル **********************************/
  section.activity_detail_title_section {
    width: 98%;
    padding: 0px 0px 20px;
  }
  .activity_detail_under_title_box {
    display: flex;
    align-items: center;
  }
  .activity_detail_category {
    margin-bottom: 10px;
  }
  .activity_detail_category span {
    background: #06aee9;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
  }
  h5.activity_detail_title {
    font-size: 25px;
    margin: 0;
  }
  .activity_detail_under_title_stars_box,
  .activity_detail_under_title_area_box {
    display: flex;
    align-items: center;
    height: 28px;
    margin-right: 20px;
  }
  .activity_detail_under_title_stars_box svg {
    padding-bottom: 2px;
    margin-right: 5px;
    color: #0ea9e7;
  }
  .activity_detail_under_title_points {
    color: #656464;
    margin-right: 4px;
    font-weight: bold;
  }
  .activity_detail_under_title_reviews {
    color: #656464;
  }
  .activity_detail_under_title_area_box svg {
    padding-bottom: 2px;
    margin-right: 5px;
    color: #0ea9e7;
  }
  /* ベーシックinfo ***********************************/
  section.activity_detail_basic_info_section {
    width: 98%;
    padding: 15px 0px;
  }
  .activity_detail_basic_info_inner {
    padding: 15px 30px 15px 10px;
    background: aquamarine;
  }
  /* サイドバー ***********************************/
  .activity_detail_sidebar_inner {
    padding: 20px 20px;
    background: #fff;
    height: 600px;
    box-shadow: 0px 0px 7px -1px #cccccc;
    border-radius: 10px;
  }
</style>
