<div class="activity_detail_container">
  <section class="activity_detail_top">
    <ul class="activity_top_image_items">
      <li class="activity_detail_image_item first_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image left_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image' if !@activity.main_image.blank? %>
      </li>
      <li class="activity_detail_image_item last_item">
        <%= image_tag @activity.main_image.to_s, class: 'activity_detail_image right_image' if !@activity.main_image.blank? %>
      </li>
      <%= render partial: 'activity_favorite', locals: { @activity => @activity, @project => @project } %>
    </ul>
  </section>
  <div class="activity_detail_under_image_container">
    <div class="activity_detail_left_contents">
      <section class="activity_detail_title_section">
        <div class="activity_detail_category">
          <% if !@activity.activity_category_id.nil? %>
            <span><%= ActivityCategory.find(@activity.activity_category_id).jp_name %></span>
          <% else %>
            <span><%= '旅行体験' %></span>
          <% end %>
        </div>
        <h5 class="activity_detail_title"><%= @activity.name if !@activity.nil? %></h5>
        <div class="activity_detail_under_title_box">
          <div class="activity_detail_under_title_stars_box">
            <i class="fas fa-star"></i>
            <div class="activity_detail_under_title_points">4.2</div>
            <div class="activity_detail_under_title_reviews">(52)</div>
          </div>
          <div class="activity_detail_under_title_area_box">
            <i class="fas fa-map-marker-alt"></i>
            <div class="activity_detail_under_title_area">
              <% if !@activity.area_id.nil? %>
                <%= Area.find(@activity.area_id).local_name %>
              <% else %>
                <%= 'エリアなし' %>
              <% end %>
          </div>
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">基本情報</div>
            </div>
            <div class="activity_detail_basic_info_inner_info_box">
              <ul>
                <li class="basic_info_item">
                  <i class="far fa-clock"></i>
                  <span><%= @activity.activity_minutes %>時間</span>
                </li>
                <li class="basic_info_item">
                  <i class="fas fa-users"></i>
                  <span>最少<%= @activity.minimum_num %>から最大<%= @activity.maximum_num %>人まで</span>
                </li>
                <li class="basic_info_item">
                  <i class="fas fa-child"></i>
                  <span>最低年齢<%= @activity.available_age %>歳から</span>
                </li>
                <li class="basic_info_item">
                  <i class="far fa-calendar-alt"></i>
                  <span><%= @activity.is_all_year_open ? '通年の体験' : "#{@activity.start_date.strftime("%Y/%m/%d")}〜#{@activity.end_date.strftime("%Y/%m/%d")}" %></span>
                </li>
                <li class="basic_info_item">
                  <i class="fas fa-hand-holding-heart"></i>
                  <% if @activity_business.has_insurance %>
                  <div class="insurance_box">
                    <span>保険に加入</span>
                  </div>
                  <% else %>
                  <div class="no_insurance_box">
                    <span>保険に未加入</span>
                  </div>
                  <% end %>
                </li>
                <li class="basic_info_item">
                  <i class="fas fa-language"></i>
                  <div><span>日本語</span><span>English</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">ホスト</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <div class="title_box">
                <div class="biz_icon_box">
                  <%= image_tag @activity_business.profile_image.to_s, class: 'biz_icon' if !@activity_business.profile_image.blank? %>
                </div>
                <div class="biz_name">
                  <%= @activity_business.name %>
                </div>
              </div>
              <div class="guides_box">
                <ul>
                <% @activity_business.guides.each do |guide| %>
                  <li class="guide_item">
                    <%= image_tag guide.avatar.to_s, class: 'guide_avatar' if !guide.avatar.blank? %>
                    <div class="guide_name"><%=guide.name%></div>
                  </li>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_profile_info_inner">
          <p>体験について</p>
          <p><%= !@activity.description.blank? ? @activity.description : '紹介文がありません' %></p>
        </div>
        <div class="activity_detail_profile_info_inner">
          <p>持ち物・補足事項・注意点など</p>
          <p><%= !@activity.notes.blank? ? @activity.notes : '補足事項はありません' %></p>
        </div>
      </section>
      <section class="activity_detail_basic_info_section">
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">料金</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <div class="guides_box">
                <table class="ageprices_table">
                  <tr>
                    <th>年齢</th>
                    <th>通常料金</th>
                    <th>ハイシーズン料金</th>
                    <th>ローシーズン料金</th>
                  </tr>
                  <tr>
                      <td>大人（中学生以上）</td>
                      <td>¥<%= @activity.normal_adult_price.to_s(:delimited) %></td>
                      <td>¥<%= @activity.high_adult_price.to_s(:delimited) %></td>
                      <td>¥<%= @activity.low_adult_price.to_s(:delimited) %></td>
                  </tr>
                  <tr>
                      <td>小学生</td>
                      <td>¥<%= @activity.normal_middle_price.to_s(:delimited) %></td>
                      <td>¥<%= @activity.high_middle_price.to_s(:delimited) %></td>
                      <td>¥<%= @activity.low_middle_price.to_s(:delimited) %></td>
                  </tr>
                  <tr>
                      <td>未就学児</td>
                      <td>¥<%= @activity.normal_kids_price.to_s(:delimited) %></td>
                      <td>¥<%= @activity.high_kids_price.to_s(:delimited) %></td>
                      <td>¥<%= @activity.low_kids_price.to_s(:delimited) %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">タイムテーブル</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <ul class="course_box">
                  <% @courses.each_with_index do |course, index| %>
                    <li class="course_item">
                      <div class="course_item_num_box">
                        <span><%= index + 1 %></span>
                      </div>
                      <div class="course_time"><%= course.start_time.strftime("%H:%M") %>〜</div>
                    </li>
                  <% end %>
              </ul>
              <div class="holiday_table">
                  <span>定休日</span>
                  <span>
                    <% wday = ["月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日", "日曜日"]%>
                    <% @holidays.each_with_index do |day_is_open, index|%>
                      <span><%= "#{wday[index]}/" if !day_is_open %></span>
                    <% end %>
                    <%= "なし" if @holidays.uniq.count == 1 && @holidays[0] == true %>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">集合場所</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <div class="guides_box">
                <table class="cansel_table">
                  <tr>
                    <td class="cansel_table_front_td">集合場所住所：</td>
                    <td><%= @activity.meeting_spot1_japanese_address %></td>
                  </tr>
                  <tr>
                    <td class="cansel_table_front_td">集合場所の補足：</td>
                    <td><%= @activity.meeting_spot1_japanese_description %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="activity_detail_basic_info_inner">
          <div class="activity_detail_basic_info_inner_inner">
            <div class="activity_detail_basic_info_inner_biz_box">
              <div class="section_title">キャンセル・悪天候時の対応</div>
            </div>
            <div class="activity_detail_basic_info_inner_biz_box about_guide">
              <div class="guides_box">
                <table class="cansel_table">
                  <tr>
                    <td class="cansel_table_front_td">雨天時の対応：</td>
                    <td><%= @activity.rain_or_shine ? '雨天決行' : '雨天中止' %></td>
                  </tr>
                  <tr>
                    <td class="cansel_table_front_td">キャンセル期限：</td>
                    <td>
                      <% if @activity_business.no_charge_cansel_before == 'a_week_before' %>
                        <span>７日前までキャンセル無料</span>
                      <% elsif @activity_business.no_charge_cansel_before == 'three_days_before' %>
                        <span>３日前までキャンセル無料</span>
                      <% else %>
                        <span>前日までキャンセル無料</span>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="activity_detail_right_sidebar">
      <div class="activity_detail_sidebar_inner">
        <div class="activity_price_box">
          <div class="activity_price_box_price">¥<%= @activity.normal_adult_price.to_s(:delimited)%></div>
          <div class="activity_price_box_text">/おとな一人</div>
        </div>
        <%= form_for(@book_activity, url: project_book_activity_create_path) do |form| %>
          <div class="sidebar_form_inner_top">
            <%= form.hidden_field :supplier_id, value: @supplier.id %>
            <%= form.hidden_field :total_price, value: 0%>
            <%= form.hidden_field :project_id, value: @project.id %>
            <%= form.hidden_field :activity_id, value: @activity.id %>
            <%= form.hidden_field :maximum_num, value: @activity.maximum_num %>
            <%= form.hidden_field :total_participants, value: 1 %>
            <% if current_user %>
              <%= form.hidden_field :user_id, value: current_user.id %>
            <% end %>
            <% if current_user && current_user.first_name && current_user.last_name %>
              <%= form.hidden_field :user_name, value: "#{current_user.first_name} #{current_user.last_name}"%>
            <% else %>
              <%= form.hidden_field :user_name, value: "no name"%>
            <% end %>
            <%= form.hidden_field :course_id, value: nil %>
            <%= form.hidden_field :stock_id, value: nil %>
            <%= hidden_field_tag "selected_stock_season", "normal" %>
            <%= hidden_field_tag "normal_adult_price", @activity.normal_adult_price %>
            <%= hidden_field_tag "high_adult_price", @activity.high_adult_price %>
            <%= hidden_field_tag "low_adult_price", @activity.low_adult_price %>
            <%= hidden_field_tag "normal_middle_price", @activity.normal_middle_price %>
            <%= hidden_field_tag "high_middle_price", @activity.high_middle_price %>
            <%= hidden_field_tag "low_middle_price", @activity.low_middle_price %>
            <%= hidden_field_tag "normal_kids_price", @activity.normal_kids_price %>
            <%= hidden_field_tag "high_kids_price", @activity.high_kids_price %>
            <%= hidden_field_tag "low_kids_price", @activity.low_kids_price %>
            <div class="calendar_form_fix_field">
              <%= form.label 'スケジュール' %>
              <div class="date_field_box" id="date_field_box">
                <div class="date_field_box_date">
                  <span class="date_field_box_icon"><i class="far fa-calendar-alt"></i></span>
                  <span id="date_field_box_date_span">日時を選択してください</span>
                </div>
                <div class="date_field_box_course">
                  <span class="date_field_box_icon"><i class="far fa-clock"></i></span>
                  <span id="date_field_box_time_span">00:00</span>
                </div>
              </div>
              <%= form.hidden_field :activity_date ,class: "form-control", id: 'activity_date_form' %>
              <%= form.hidden_field :activity_start_time ,class: "form-control", id: 'activity_time_form' %>
            </div>
            <div class="calendar_form hidden" id="activity_stock_calendar_form">
              <div class="calendar_form_month_link_container">
                <button class="previous_button" type="button" name="button" onclick="showPreviousMonth()">戻る</button>
                <div class="calender_month_num_box">
                  <span class="calender_month_num" id="calender_month_num"><%=Date.today.month%></span>
                  <span class="calender_month_unit">月</span>
                  <input type="hidden" id='selected_month' value="this_month" %>
                </div>
                <button class="next_button" type="button" name="button" onclick="showNextMonth()">次へ</button>
              </div>
              <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
              <% if !@courses.nil? && !@this_month_stocks.blank? %>
                <table class="stock_book_table" id="this_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <% @this_month_stocks.each_with_index do |this_month_stock, indexA|%>
                  <tr class="stock_book_table_tr_data">
                    <td class="stock_book_table_date_td"><%=this_month_stock.date.strftime("%m/%d(#{wd[this_month_stock.date.wday]})")%></td>
                    <% @courses.each_with_index do |course, indexB|%>
                      <td class="stock_book_table_course_stock_td <%= "no_stock" if course.activity_stocks.find_by(date: this_month_stock.date).stock == 0 %><%= this_month_stock.season_price == "high" ? "high_season" : this_month_stock.season_price == "low" ? "low_season" : "" %>">
                        <div class="inside_stock_td">
                          <div class="inside_stock_td_front">
                            <% if this_month_stock.season_price == "high" %>
                              <span>¥<%= @activity.high_adult_price.to_s(:delimited)%></span>
                            <% elsif this_month_stock.season_price == "low" %>
                              <span>¥<%= @activity.low_adult_price.to_s(:delimited)%></span>
                            <% else %>
                              <span>¥<%= @activity.normal_adult_price.to_s(:delimited)%></span>
                            <% end %>
                          </div>
                          <div class="inside_stock_td_front">
                            <% if course.activity_stocks.find_by(date: this_month_stock.date).stock == 0%>
                              <span style="color:red;">SOLD OUT</span>
                            <% else %>
                              <span style="font-size: 12px;">残り</span><%= course.activity_stocks.find_by(date: this_month_stock.date).stock %><span style="font-size: 12px;">名</span>
                            <% end %>
                          </div>
                          <div class="inside_stock_td_back" id="<%= indexA %>_<%= indexB %>">
                            <%= hidden_field_tag "stock_#{indexA}", this_month_stock.date %>
                            <%= hidden_field_tag "course_#{indexB}", course.start_time %>
                            <%= hidden_field_tag "ageprice_#{indexA}_#{indexB}", this_month_stock.season_price %>
                            <% thisMonthStock = course.activity_stocks.find_by(date: this_month_stock.date).stock %>
                            <% if thisMonthStock != 0 %>
                              <button id="<%= indexA %>_<%= indexB %>" onclick="selectStock(this, <%= thisMonthStock %>, <%= course.id %>, <%= this_month_stock.id %>)" type="button" name="button" class="stock_select_btn">選択</button>
                            <% else %>
                              <button type="button" name="button" class="stock_select_btn disabled" disabled>選択</button>
                            <% end %>
                          </div>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              <% else %>
                <table class="stock_book_table" id="this_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <tr class="stock_book_table_tr_no_data">
                    <td class="stock_book_table_no_date_td" colspan="<%=@courses.size + 1%>">この月には在庫がありません</td>
                  </tr>
                </table>
              <% end %>
              <% if !@courses.nil? && !@next_month_stocks.blank? %>
                <table class="stock_book_table hidden" id="next_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <% @next_month_stocks.each_with_index do |next_month_stock, indexA|%>
                  <tr class="stock_book_table_tr_data">
                    <td class="stock_book_table_date_td"><%=next_month_stock.date.strftime("%m/%d(#{wd[next_month_stock.date.wday]})")%></td>
                    <% @courses.each_with_index do |course, indexB|%>
                      <td class="stock_book_table_course_stock_td <%= "no_stock" if course.activity_stocks.find_by(date: next_month_stock.date).stock == 0 %><%= next_month_stock.season_price == "high" ? "high_season" : next_month_stock.season_price == "low" ? "low_season" : "" %>">
                        <div class="inside_stock_td">
                          <div class="inside_stock_td_front">
                            <% if course.activity_stocks.find_by(date: next_month_stock.date).stock == 0%>
                              <span style="color:red;">SOLD OUT</span>
                            <% else %>
                              <span style="font-size: 12px;">残り</span><%= course.activity_stocks.find_by(date: next_month_stock.date).stock %><span style="font-size: 12px;">名</span>
                            <% end %>
                          </div>
                          <div class="inside_stock_td_back" id="<%= indexA %>_<%= indexB %>">
                            <%= hidden_field_tag "stock_#{indexA}", next_month_stock.date %>
                            <%= hidden_field_tag "course_#{indexB}", course.start_time %>
                            <%= hidden_field_tag "ageprice_#{indexA}_#{indexB}", next_month_stock.season_price %>
                            <% nextMonthStock = course.activity_stocks.find_by(date: next_month_stock.date).stock %>
                            <% if nextMonthStock != 0 %>
                              <button id="<%= indexA %>_<%= indexB %>" onclick="selectStock(this, <%= nextMonthStock %>, <%= course.id %>, <%= next_month_stock.id %>)" type="button" name="button" class="stock_select_btn">選択</button>
                            <% else %>
                              <button type="button" name="button" class="stock_select_btn disabled" disabled>選択</button>
                            <% end %>
                          </div>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              <% else %>
                <table class="stock_book_table hidden" id="next_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <tr class="stock_book_table_tr_no_data">
                    <td class="stock_book_table_no_date_td" colspan="<%=@courses.size + 1%>">この月には在庫がありません</td>
                  </tr>
                </table>
              <% end %>
              <% if !@courses.nil? && !@next2_month_stocks.blank? %>
                <table class="stock_book_table hidden" id="next2_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <% @next2_month_stocks.each_with_index do |next2_month_stock, indexA|%>
                  <tr class="stock_book_table_tr_data">
                    <td class="stock_book_table_date_td"><%=next2_month_stock.date.strftime("%m/%d(#{wd[next2_month_stock.date.wday]})")%></td>
                    <% @courses.each_with_index do |course, indexB|%>
                      <td class="stock_book_table_course_stock_td <%= "no_stock" if course.activity_stocks.find_by(date: next2_month_stock.date).stock == 0 %><%= next2_month_stock.season_price == "high" ? "high_season" : next2_month_stock.season_price == "low" ? "low_season" : "" %>">
                        <div class="inside_stock_td">
                          <div class="inside_stock_td_front">
                            <% if course.activity_stocks.find_by(date: next2_month_stock.date).stock == 0%>
                              <span style="color:red;">SOLD OUT</span>
                            <% else %>
                              <span style="font-size: 12px;">残り</span><%= course.activity_stocks.find_by(date: next2_month_stock.date).stock %><span style="font-size: 12px;">名</span>
                            <% end %>
                          </div>
                          <div class="inside_stock_td_back" id="<%= indexA %>_<%= indexB %>">
                            <%= hidden_field_tag "stock_#{indexA}", next2_month_stock.date %>
                            <%= hidden_field_tag "course_#{indexB}", course.start_time %>
                            <%= hidden_field_tag "ageprice_#{indexA}_#{indexB}", next2_month_stock.season_price %>
                            <% next2MonthStock = course.activity_stocks.find_by(date: next2_month_stock.date).stock %>
                            <% if next2MonthStock != 0 %>
                              <button id="<%= indexA %>_<%= indexB %>" onclick="selectStock(this, <%= next2MonthStock %>, <%= course.id %>, <%= next2_month_stock.id %>)" type="button" name="button" class="stock_select_btn">選択</button>
                            <% else %>
                              <button type="button" name="button" class="stock_select_btn disabled" disabled>選択</button>
                            <% end %>
                          </div>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              <% else %>
                <table class="stock_book_table hidden" id="next2_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <tr class="stock_book_table_tr_no_data">
                    <td class="stock_book_table_no_date_td" colspan="<%=@courses.size + 1%>">この月には在庫がありません</td>
                  </tr>
                </table>
              <% end %>
              <% if !@courses.nil? && !@next3_month_stocks.blank? %>
                <table class="stock_book_table hidden" id="next3_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <% @next3_month_stocks.each_with_index do |next3_month_stock, indexA|%>
                  <tr class="stock_book_table_tr_data">
                    <td class="stock_book_table_date_td"><%=next3_month_stock.date.strftime("%m/%d(#{wd[next3_month_stock.date.wday]})")%></td>
                    <% @courses.each_with_index do |course, indexB|%>
                      <td class="stock_book_table_course_stock_td <%= "no_stock" if course.activity_stocks.find_by(date: next3_month_stock.date).stock == 0 %><%= next3_month_stock.season_price == "high" ? "high_season" : next3_month_stock.season_price == "low" ? "low_season" : "" %>">
                        <div class="inside_stock_td">
                          <div class="inside_stock_td_front">
                            <% if course.activity_stocks.find_by(date: next3_month_stock.date).stock == 0%>
                              <span style="color:red;">SOLD OUT</span>
                            <% else %>
                              <span style="font-size: 12px;">残り</span><%= course.activity_stocks.find_by(date: next3_month_stock.date).stock %><span style="font-size: 12px;">名</span>
                            <% end %>
                          </div>
                          <div class="inside_stock_td_back" id="<%= indexA %>_<%= indexB %>">
                            <%= hidden_field_tag "stock_#{indexA}", next3_month_stock.date %>
                            <%= hidden_field_tag "course_#{indexB}", course.start_time %>
                            <%= hidden_field_tag "ageprice_#{indexA}_#{indexB}", next3_month_stock.season_price %>
                            <% next3MonthStock = course.activity_stocks.find_by(date: next3_month_stock.date).stock %>
                            <% if next3MonthStock != 0 %>
                              <button id="<%= indexA %>_<%= indexB %>" onclick="selectStock(this, <%= next3MonthStock %>, <%= course.id %>, <%= next3_month_stock.id %>)" type="button" name="button" class="stock_select_btn">選択</button>
                            <% else %>
                              <button type="button" name="button" class="stock_select_btn disabled" disabled>選択</button>
                            <% end %>
                          </div>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              <% else %>
                <table class="stock_book_table hidden" id="next3_month_calender">
                  <tr class="stock_book_table_tr_head">
                    <th class="stock_book_table_th first">00:00</th>
                    <% @courses.each do |course| %>
                      <th class="stock_book_table_th"><%=course.start_time.strftime("%H:%M")%></th>
                    <% end %>
                  </tr>
                  <tr class="stock_book_table_tr_no_data">
                    <td class="stock_book_table_no_date_td" colspan="<%=@courses.size + 1%>">この月には在庫がありません</td>
                  </tr>
                </table>
              <% end %>

            </div>
            <div class="member_select_box">
              <%= form.label :参加人数を入力 %>
              <div class="participant_input_box">
                <div class="participant_input_item">
                  <div class="participant_type">
                    おとな(中学生以上)
                  </div>
                  <div class="input_btns">
                    <button type="button" class="participant_input_btn" onclick="decreaseParticipant('adult')">-</button>
                    <div class="num_display_box">
                      <span class="participant_number" id="adult_num">1</span>
                      <span class="participant_unit">名</span>
                    </div>
                    <button type="button" class="participant_input_btn" onclick="increaseParticipant('adult')">+</button>
                  </div>
                </div>
                <div class="participant_input_item">
                  <div class="participant_type">
                    小学生
                  </div>
                  <div class="input_btns">
                    <button type="button" class="participant_input_btn" onclick="decreaseParticipant('middle')">-</button>
                    <div class="num_display_box">
                      <span class="participant_number" id="middle_age_num">0</span>
                      <span class="participant_unit">名</span>
                    </div>
                    <button type="button" class="participant_input_btn" onclick="increaseParticipant('middle')">+</button>
                  </div>
                </div>
                <div class="participant_input_item">
                  <div class="participant_type">
                    小学生未満
                  </div>
                  <div class="input_btns">
                    <button type="button" class="participant_input_btn" onclick="decreaseParticipant('kids')">-</button>
                    <div class="num_display_box">
                      <span class="participant_number" id="kids_age_num">0</span>
                      <span class="participant_unit">名</span>
                    </div>
                    <button type="button" class="participant_input_btn" onclick="increaseParticipant('kids')">+</button>
                  </div>
                </div>
                <div class="participant_alert">
                  <div id="maximum_alert" class="hidden">
                    この日時の最大予約人数は<span id="maximum_alert_num"><%=@activity.maximum_num%></span>人です
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="member_form_radio_box">
              <div class="member_form_radio_item">
                <input type="radio" name="participant" id="each" checked><label for="each">人数を選択</label>
              </div>
              <div class="member_form_radio_item">
                <input type="radio" name="participant" id="members"><label for="members">メンバーから選択</label>
              </div>
            </div>
            <div class="member_form_radio_box">
              <div class="member_form_radio_item">
                <input type="radio" name="participant" id="each" checked><label for="each">人数を選択</label>
              </div>
              <div class="member_form_radio_item">
                <input type="radio" name="participant" id="members"><label for="members">メンバーから選択</label>
              </div>
            </div> -->
            <%# todayDate = Date.today.strftime("%Y%m%d").to_i %>
            <!-- <div class="member_select_box"> -->
              <%#= form.label :参加メンバーを選択 %>
              <!-- <div class="member_item"> -->
                <%#= check_box_tag('select_all', value = "select_all", checked = true, options = {onchange: "selectAllMembers(this)", class: "select_all_input", id: 'select_all_input'}) %>
                <%#= label_tag 'select_all', 'メンバー全員', class: "select_all_label"%>
              <!-- </div> -->
              <%#= form.collection_check_boxes(:project_member_ids, ProjectMember.where(project_id: @project.id), :id, :nickname) do |b| %>
              <!-- <div class="member_item member_select"> -->
                <%#= b.check_box checked: true, onchange: "selectMembers(this)", class: "members_check_box" %>
                <%# birthDate = Date.new(ProjectMember.find(b.value).birth_year, ProjectMember.find(b.value).birth_month, ProjectMember.find(b.value).birth_date).strftime("%Y%m%d").to_i%>
                <%# memberAge = (todayDate - birthDate) / 10000%>
                <%#= hidden_field_tag "memberage_#{b.value}", memberAge %>
                <%#= b.label(:"data-value" => b.value) { b.text } %>
              <!-- </div> -->
              <%# end %>
            <!-- </div> -->
          </div>
          <div class="sidebar_form_inner_bottom">
            <%= form.hidden_field :total_price, value: 0, id: "total_price_input" %>
            <div id="total_price_box">
              <div class="total_price">
                <div class="total_price_title">TOTAL:</div>
                <div class="total_price_back">
                  <span class="total_price_unit">¥</span>
                  <span class="total_price_num" id="total_price_display">0</span>
                </div>
              </div>
              <% if current_user %>
                <%= form.submit('予約する',class: 'button btn-submit disabled', id: 'book_activity_btn', disabled: true) %>
              <% else %>
                <%=link_to '予約する', users_sign_in_path(alert: "need_sign_in"), class: 'button btn-submit'%>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .activity_detail_container {
    padding: 30px 20px 20px 30px;
    position: relative;
  }
  .activity_detail_under_image_container {
    display: flex;
    margin-top: 40px;
  }
  .activity_detail_left_contents {
    width: calc(100% - 350px)
  }
  .activity_detail_right_sidebar {
    width: 350px;
    height: 100%;
    position: sticky;
    top: 70px;
  }

  /* 画像セクション *************************************/
  ul.activity_top_image_items {
    margin: 0;
    display: flex;
    width: 100%;
    position: relative;
  }
  .faborite_box {
    position: absolute;
    bottom: 0;
    right: 1%;
    background: #fff;
    padding: 5px 20px;
    border-top-left-radius: 10px;
  }
  a.favorite-btn.favorite-post span.favorite_text {
    color: #9b9b9b;
    font-weight: bold;
    margin-left: 5px;
  }
  a.favorite-btn.favorite-delete span.favorite_text {
    color: #535353;
    font-weight: bold;
    margin-left: 5px;
  }
  a.favorite-btn.favorite-post svg {
    color: #767676;
    width: 20px;
    height: 20px;
  }
  a.favorite-btn.favorite-delete svg {
    color: #f07878;
    width: 20px;
    height: 20px;
  }
  li.activity_detail_image_item {
    width: 24%;
    margin-right: 1%;
  }
  li.activity_detail_image_item.last_item {
    margin-right: 0%;
  }
  img.activity_detail_image {
    object-fit: cover;
    width: 100%;
    height: 270px;
  }
  img.activity_detail_image.left_image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  img.activity_detail_image.right_image {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  /* タイトル **********************************/
  section.activity_detail_title_section {
    width: 98%;
    padding: 0px 0px 20px;
  }
  .activity_detail_under_title_box {
    display: flex;
    align-items: center;
  }
  .activity_detail_category {
    margin-bottom: 10px;
  }
  .activity_detail_category span {
    background: #06aee9;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
  }
  h5.activity_detail_title {
    font-size: 23px;
    margin: 0 0 10px;
    line-height: 28px;
    color: #4a4a4a;
    padding-right: 30px;
  }
  .activity_detail_under_title_stars_box,
  .activity_detail_under_title_area_box {
    display: flex;
    align-items: center;
    height: 28px;
    margin-right: 20px;
  }
  .activity_detail_under_title_stars_box svg {
    padding-bottom: 2px;
    margin-right: 5px;
    color: #0ea9e7;
  }
  .activity_detail_under_title_points {
    color: #656464;
    margin-right: 4px;
    font-weight: bold;
  }
  .activity_detail_under_title_reviews {
    color: #656464;
  }
  .activity_detail_under_title_area_box svg {
    padding-bottom: 2px;
    margin-right: 5px;
    color: #0ea9e7;
  }
  /* ベーシックinfo ***********************************/
  section.activity_detail_basic_info_section {
    width: 95%;
    padding: 10px 0px;
  }
  .activity_detail_basic_info_inner {
    display: flex;
    flex-direction: column;
    border: solid 1px #696969;
    border-radius: 7px;
    margin-bottom: 30px;
  }
  .activity_detail_basic_info_inner_inner {
    padding: 10px 20px 15px;
  }
  .activity_detail_basic_info_inner_biz_box {
    display: flex;
    flex-direction: column;
  }
  .activity_detail_basic_info_inner_biz_box.about_guide {
    padding: 20px 0px 5px;
  }
  .title_box {
    display: flex;
    align-items: center;
  }
  .biz_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px #dadada;
    box-shadow: 0px 0px 4px -1px lightgrey;
    margin-right: 13px;
  }
  .activity_detail_basic_info_inner_info_box ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  li.basic_info_item {
    width: 46%;
    display: flex;
    align-items: center;
    padding: 0 4% 0 0;
    margin: 10px 0 15px;
  }
  li.basic_info_item span {
    font-size: 13px;
    color: #424242;
    margin-left: 10px;
  }
  li.basic_info_item svg {
    width: 30px !important;
    height: 30px;
    color: #0ea7e6;
  }
  .activity_detail_profile_info_inner {
    margin-bottom: 60px;
    padding: 0 30px 0 0;
  }
  .guides_box ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0;
  }
  .guides_box ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    padding: 0 2% 15px;
  }
  img.guide_avatar {
    width: 100%;
    border-radius: 50%;
  }
  .guide_name {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  }
  table.ageprices_table {
    width: 100%;
  }
  table.ageprices_table tr th {
    text-align: left;
  }
  td.cansel_table_front_td {
    width: 25%;
    text-align: right;
  }
  ul.course_box {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  li.course_item {
    width: 50%;
    margin-bottom: 10px;
  }
  li.course_item {
    width: 33%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .course_item_num_box {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    margin-right: 10px;
  }
  .course_time {
    font-size: 15px;
    height: 20px;
  }
  /* カレンダー ***********************************/
  form#new_booked_activity {
    position: relative;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  form#new_booked_activity button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  form#new_booked_activity button:focus {
    outline: 0;
  }
  .sidebar_form_inner_bottom {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
  .calendar_form_month_link_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
  }
  .calendar_form_month_link_container button {
    width: 80px;
    height: 36px;
    border-radius: 9px;
    border: none;
    box-shadow: 0px 0px 6px -2px #797979;
    color: white;
    background: #0ea7e6;
  }
  .button.previous_button {
    margin-left: 10px;
  }
  .button.next_button {
    margin-right: 10px;
  }
  span.calender_month_num {
    font-size: 25px;
    font-weight: bold;
    color: #0da7e5;
  }
  span.calender_month_unit {
    font-size: 18px;
    font-weight: bold;
    color: #0da7e5;
  }
  .calendar_form {
    width: 900px;
    position: absolute;
    top: 24px;
    right: 0px;
    z-index: 100;
    padding: 50px 10px 20px 10px;
    background: #fff;
    border-radius: 10px;
    border: solid 3px #464646;
    box-shadow: 0px 0px 6px -1px #c7c7c7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
  }
  table.stock_book_table {
    width: 100%;
    margin-top: 2px;
    height: 300px;
    display: block;
    overflow-y: scroll;
    border: solid 3px #0da7e5;
    border-radius: 9px;
  }
  table.stock_book_table tbody {
    width: 100%;
  }
  th.stock_book_table_th {
    position: sticky;
    top: 0;
    background: #fff;
    width: 140px !important;
    padding: 5px;
  }
  th.stock_book_table_th.first {
    color: #fff;
    width: 50px;
    background: #fff !important;
  }
  .stock_book_table_tr_data {
    height: 60px;
  }
  td.stock_book_table_course_stock_td.high_season {
    background: #ffbbbb;
  }
  td.stock_book_table_course_stock_td.low_season {
    background: #c6e7ff;
  }
  td.stock_book_table_course_stock_td.no_stock {
    background: lightgray !important;
}

  .inside_stock_td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stock_select_btn {
    border-radius: 5px;
    font-size: 11px;
    color: #ffffff;
    padding: 3px 8px;
    border: none;
    background: #0ea7e6;
  }
  .stock_select_btn.disabled {
    color: #ffffff;
    background: gray !important;
  }
  tr.stock_book_table_tr_no_data {
    border: none;
  }
  td.stock_book_table_no_date_td {
    text-align: center;
    padding-top: 40px;
  }
  .calendar_form_fix_field {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 200;
    width: 100%;
  }
  .member_form_radio_box {
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 10px 10px;
  }
  .member_form_radio_item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  .member_form_radio_item input {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  .member_form_radio_item label {
    margin-left: 8px;
    font-size: 15px;
    width: 100%;
  }
  .member_select_box {
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 10px 0px;
  }
  .member_item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
  }
  .member_item.member_select {
    margin-left: 30px;
  }
  input#select_all,
  .member_item input {
    width: 25px;
    height: 25px;
    margin: 0 7px 0 0;
  }
  label.select_all_label,
  .member_item label {
    font-size: 18px;
    color: #c7c7c7;
  }
  div#total_price_box {
    width: 100%;
  }
  .total_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    padding: 0 15px;
  }
  .total_price_title {
    font-size: 20px;
    font-weight: bold;
    color: #0ba6e6;
  }
  span.total_price_unit {
    font-size: 20px;
    font-weight: bold;
    color: #0ba6e6;
  }
  span#total_price_display {
    font-size: 30px;
    font-weight: bold;
    color: #0ba6e6;
  }
  /* ul.sidebar__member_list_ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  ul.sidebar__member_list_ul li {
    display: flex;
    align-items: center;
    width: 50%;
    opacity: 0.5;
  }
  img.member_image {
    width: 42px;
    border-radius: 50%;
    margin-right: 7px;
    opacity: 0.5;
  } */
  /* サイドバー ***********************************/
  .activity_detail_sidebar_inner {
    padding: 20px 20px;
    background: #fff;
    height: 600px;
    box-shadow: 0px 0px 7px -1px #cccccc;
    border-radius: 10px;
  }
  .activity_price_box {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
  }
  .activity_price_box_price {
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
    color: #616161;
  }
  .activity_price_box_text {
    font-size: 15px;
    color: #656565;
  }
  div#date_field_box {
    display: flex;
    justify-content: space-between;
    border: solid 3px #464646;
    padding: 10px 10px;
    border-radius: 10px;
    user-select: none;
  }
  div#date_field_box:hover {
    cursor: pointer;
  }
  .input_btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  button.participant_input_btn {
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: #464646;
    font-size: 37px;
    color: #fff;
  }
  .num_display_box {
    padding: 0 15px 0 25px;
    width: 65px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
  span.participant_number {
    font-size: 37px;
    font-weight: bold;
    color: #464646;
  }
  span.participant_unit {
    font-size: 20px;
  }
  .participant_alert {
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    /* text-align: revert; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#maximum_alert {
    width: 100%;
    text-align: center;
    background: #ffa7a7;
    padding: 10px 5px;
    border-radius: 8px;
    color: #ff0000;
    font-weight: bold;
  }
  span#maximum_alert_num {
    font-size: 23px;
  }
</style>

<script type="text/javascript">
  document.getElementById('date_field_box').addEventListener('click', function (e) {
    const calendarFrom = document.getElementById('activity_stock_calendar_form');
    const isClose = calendarFrom.classList.contains('hidden');
    if (isClose) {
      calendarFrom.classList.remove('hidden');
    } else {
      calendarFrom.classList.add('hidden');
    }
  });

  function showPreviousMonth() {
    const selectedMonth = document.getElementById('selected_month');

    const calendarThisMonth = document.getElementById('this_month_calender');
    const calendarNextMonth = document.getElementById('next_month_calender');
    const calendarNext2Month = document.getElementById('next2_month_calender');
    const calendarNext3Month = document.getElementById('next3_month_calender');

    if (selectedMonth.value == "next_month") {
      calendarThisMonth.classList.remove('hidden');
      calendarNextMonth.classList.add('hidden');
      calendarNext2Month.classList.add('hidden');
      calendarNext3Month.classList.add('hidden');
      minusMonthNum();
    } else if (selectedMonth.value == "next2_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.remove('hidden');
      calendarNext2Month.classList.add('hidden');
      calendarNext3Month.classList.add('hidden');
      minusMonthNum();
    } else if (selectedMonth.value == "next3_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.add('hidden');
      calendarNext2Month.classList.remove('hidden');
      calendarNext3Month.classList.add('hidden');
      minusMonthNum();
    }
  }

  function showNextMonth() {
    const selectedMonth = document.getElementById('selected_month');
    const calendarThisMonth = document.getElementById('this_month_calender');
    const calendarNextMonth = document.getElementById('next_month_calender');
    const calendarNext2Month = document.getElementById('next2_month_calender');
    const calendarNext3Month = document.getElementById('next3_month_calender');

    if (selectedMonth.value == "this_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.remove('hidden');
      calendarNext2Month.classList.add('hidden');
      calendarNext3Month.classList.add('hidden');
      addMonthNum();
    } else if (selectedMonth.value == "next_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.add('hidden');
      calendarNext2Month.classList.remove('hidden');
      calendarNext3Month.classList.add('hidden');
      addMonthNum();
    } else if (selectedMonth.value == "next2_month") {
      calendarThisMonth.classList.add('hidden');
      calendarNextMonth.classList.add('hidden');
      calendarNext2Month.classList.add('hidden');
      calendarNext3Month.classList.remove('hidden');
      addMonthNum();
    }
  }

  function minusMonthNum() {
    const calenderMonth = document.getElementById('calender_month_num');
    const calenderMonthNum = parseInt(calenderMonth.innerHTML);
    const selectedMonth = document.getElementById('selected_month');
    if (selectedMonth.value == "next_month") {
      selectedMonth.value = "this_month";
    } else if (selectedMonth.value == "next2_month") {
      selectedMonth.value = "next_month";
    } else if (selectedMonth.value == "next3_month") {
      selectedMonth.value = "next2_month";
    }
    if (calenderMonth.innerHTML >= 2) {
      calenderMonth.innerHTML = calenderMonthNum - 1;
    } else if (calenderMonth.innerHTML == 1){
      calenderMonth.innerHTML = 12;
    }
  }
  function addMonthNum() {
    const calenderMonth = document.getElementById('calender_month_num');
    const calenderMonthNum = parseInt(calenderMonth.innerHTML);
    const selectedMonth = document.getElementById('selected_month');
    if (selectedMonth.value == "this_month") {
      selectedMonth.value = "next_month";
    } else if (selectedMonth.value == "next_month") {
      selectedMonth.value = "next2_month";
    } else if (selectedMonth.value == "next2_month") {
      selectedMonth.value = "next3_month";
    }
    if (calenderMonth.innerHTML <= 11) {
      calenderMonth.innerHTML = calenderMonthNum + 1;
    } else if (calenderMonth.innerHTML == 12){
      calenderMonth.innerHTML = "1";
    }
  }

  function selectStock(value, maximumStock, courseId, stockId) {
    const target = value.parentNode;
    const targetDate = target.children[0].value;
    const activityDate = new Date(targetDate);
    const year = activityDate.getFullYear();
    const month = ("0"+(activityDate.getMonth() + 1)).slice(-2)
    const date = ("0"+ activityDate.getDate()).slice(-2);
    const bookDate = `${year}/${month}/${date}`;
    const dateDisplay = document.getElementById('date_field_box_date_span');
    dateDisplay.innerHTML = bookDate;

    const targetTime = target.children[1].value;
    const activityTime = new Date(targetTime);
    const hours = ("0"+ (activityTime.getHours() -9 )).slice(-2);
    const minutes = ("0"+ activityTime.getMinutes()).slice(-2);
    const seconds = ("0"+ activityTime.getSeconds()).slice(-2);
    const bookTime = `${hours}:${minutes}`;
    const timeDisplay = document.getElementById('date_field_box_time_span');
    timeDisplay.innerHTML = bookTime;

    //選ばれた在庫のシーズンを取得
    const targetSeason = target.children[2].value;
    //selected_stock_seasonに格納しつつ一度Totalを計算
    const hiddenSeasonForm = document.getElementById('selected_stock_season');
    hiddenSeasonForm.value = targetSeason;
    // TOTALの計算**************************************
    calTotalPrice();
    // ************************************************

    const dateForm = document.getElementById('activity_date_form');
    const dateFormFomat = `${year}-${month}-${date}`;
    dateForm.value = dateFormFomat;

    const timeForm = document.getElementById('activity_time_form');
    const timeFormFomat = `${hours}:${minutes}:${seconds}`;
    timeForm.value = timeFormFomat;

    const calendarFrom = document.getElementById('activity_stock_calendar_form');
    calendarFrom.classList.add('hidden');

    if (isAnyParticipant()) {
      const submitBtn = document.getElementById('book_activity_btn');
      submitBtn.classList.remove('disabled');
      submitBtn.disabled = false;
    }

    const hiddenMaxnum = document.getElementById('booked_activity_maximum_num');
    hiddenMaxnum.value = maximumStock;
    const maxnumAlertNum = document.getElementById('maximum_alert_num');
    maxnumAlertNum.innerHTML = maximumStock;

    const courseIdInput = document.getElementById('booked_activity_course_id');
    courseIdInput.value = courseId;
    const stockIdInput = document.getElementById('booked_activity_stock_id');
    stockIdInput.value = stockId;
  }

  // function selectAllMembers(obj) {
  //   const isChecked = obj.checked;
  //   const checkboxes = document.getElementsByName('booked_activity[project_member_ids][]');
  //
  //   const submitBtn = document.getElementById('book_activity_btn');
  //   if (isChecked) {
  //     for (var i = 0; i < checkboxes.length; i++) {
  //      checkboxes[i].checked = true;
  //     }
  //   } else {
  //     for (var i = 0; i < checkboxes.length; i++) {
  //      checkboxes[i].checked = false;
  //     }
  //     submitBtn.classList.add('disabled');
  //     submitBtn.disabled = true;
  //   }
  //   if (isChecked && isDateSelected()) {
  //     submitBtn.classList.remove('disabled');
  //     submitBtn.disabled = false;
  //   }
  //   calTotalPrice();
  // }

  // function selectMembers(obj) {
  //   const isChecked = obj.checked;
  //   const allCheckBox = document.getElementById('select_all_input');
  //   const submitBtn = document.getElementById('book_activity_btn');
  //   if (!isChecked) {
  //     allCheckBox.checked = false;
  //   }
  //
  //   if (isChecked && isDateSelected()) {
  //     submitBtn.classList.remove('disabled');
  //     submitBtn.disabled = false;
  //   } else if (!isMemberSelected()) {
  //     submitBtn.classList.add('disabled');
  //     submitBtn.disabled = true;
  //   }
  //   calTotalPrice();
  // }

  function isDateSelected() {
    const timeForm = document.getElementById('date_field_box_time_span');
    const timeValue = timeForm.innerHTML;
    if (timeValue == '00:00') {
      return false;
    } else {
      return true;
    }
  }
  // function isMemberSelected() {
  //   const checkboxes = document.querySelectorAll(".members_check_box");
  //   const memberCheckedArr = [];
  //   for (var i = 0; i < checkboxes.length; i++) {
  //     memberCheckedArr.push(checkboxes[i].checked);
  //   }
  //   const checkArrIsAllSame = memberCheckedArr.every(v => v === memberCheckedArr[0]);
  //   if (checkArrIsAllSame && memberCheckedArr[0] == false) {
  //     return false;
  //   } else {
  //     return true;
  //   }
  // }

  // function getSelectedMemberAges() {
  //   // 参加メンバー（チェックが押されたメンバー）の各年齢取得
  //   const checkboxes = document.querySelectorAll(".members_check_box");
  //   const memberCheckedArr = [];
  //   for (var i = 0; i < checkboxes.length; i++) {
  //     const memberId = checkboxes[i].value;
  //     if (checkboxes[i].checked) {
  //       const memberAge = document.getElementById(`memberage_${memberId}`).value;
  //       memberCheckedArr.push(parseInt(memberAge));
  //     }
  //   }
  //   return memberCheckedArr;
  // }
  function isAnyParticipant() {
    // 参加人数取得
    const adultNumString = document.getElementById('adult_num');
    const adultNum = parseInt(adultNumString.innerHTML);
    const middleNumString = document.getElementById('middle_age_num');
    const middleNum = parseInt(middleNumString.innerHTML);
    const kidsNumString = document.getElementById('kids_age_num');
    const kidsNum = parseInt(kidsNumString.innerHTML);
    const total = adultNum + middleNum + kidsNum;
    if (total > 0) {
      return true;
    } else {
      return false;
    }
  }

  //合計人数を計算してTotal formに格納
  function calTotalPrice() {
    // シーズン取得
    const hiddenSeasonForm = document.getElementById('selected_stock_season');
    const selectedSeason = hiddenSeasonForm.value;

    // 参加人数取得
    const adultNumString = document.getElementById('adult_num');
    const adultNum = parseInt(adultNumString.innerHTML);
    const middleNumString = document.getElementById('middle_age_num');
    const middleNum = parseInt(middleNumString.innerHTML);
    const kidsNumString = document.getElementById('kids_age_num');
    const kidsNum = parseInt(kidsNumString.innerHTML);

    // シーズンに基づく金額取得
    let adultPrice = 0;
    let middlePrice = 0;
    let kidsPrice = 0;
    if (selectedSeason == "normal") {
      adultPrice = document.getElementById('normal_adult_price').value;
      middlePrice = document.getElementById('normal_middle_price').value;
      kidsPrice = document.getElementById('normal_kids_price').value;
    } else if (selectedSeason == "high") {
      adultPrice = document.getElementById('high_adult_price').value;
      middlePrice = document.getElementById('high_middle_price').value;
      kidsPrice = document.getElementById('high_kids_price').value;
    } else {
      adultPrice = document.getElementById('low_adult_price').value;
      middlePrice = document.getElementById('low_middle_price').value;
      kidsPrice = document.getElementById('low_kids_price').value;
    }

    // 合計を計算
    const total = (adultNum * adultPrice) + (middleNum * middlePrice) + (kidsNum * kidsPrice);
    const totalPriceInput = document.getElementById('total_price_input');
    const totalPriceDisplay = document.getElementById('total_price_display');
    totalPriceInput.value = total;
    totalPriceDisplay.innerHTML = total.toLocaleString();

    // // メンバー別の料金をいれる配列
    // const eachPrices = [];
    //
    // // シーズン取得
    // const hiddenSeasonForm = document.getElementById('selected_stock_season');
    // const selectedSeason = hiddenSeasonForm.value;

    // 参加メンバー（チェックが押されたメンバー）の各年齢取得
    // const memberAges = getSelectedMemberAges();
    //
    // //　シーズンから年齢別の料金取得
    // const ageprices_json = <%#= raw @ageprices_json %>;
    //
    // // シーズン&料金表からメンバーが当てはまる物を探す
    // for (var i = 0; i < memberAges.length; i++) {
    //   for (var ii = 0; ii < ageprices_json.length; ii++) {
    //     if (ageprices_json[ii].age_from <= memberAges[i] && memberAges[i] < ageprices_json[ii].age_to) {
    //       if (selectedSeason == 'high') {
    //         eachPrices.push(ageprices_json[ii].high_price);
    //       } else if (selectedSeason == 'low') {
    //         eachPrices.push(ageprices_json[ii].low_price);
    //       } else {
    //         eachPrices.push(ageprices_json[ii].normal_price);
    //       }
    //     }
    //   }
    // }

    // const sumArray = array => {
    // let sum = 0;
    // for (let i = 0, len = array.length; i < len; i++) {
    //   sum += array[i];
    // }
    //   return sum;
    // };
    // const total = sumArray(eachPrices);
    //
    // const totalPriceInput = document.getElementById('total_price_input');
    // const totalPriceDisplay = document.getElementById('total_price_display');
    // totalPriceInput.value = total;
    // totalPriceDisplay.innerHTML = total.toLocaleString();
  }

  function decreaseParticipant(obj) {
    const maximumNum = document.getElementById('booked_activity_maximum_num');
    const maxVal = parseInt(maximumNum.value);
    const totalTarget = document.getElementById('booked_activity_total_participants');
    const totalVal = parseInt(totalTarget.value);
    const maxAlert = document.getElementById('maximum_alert');

    if (obj == 'adult') {
      const adultNumTarget = document.getElementById('adult_num');
      const adultNum = parseInt(adultNumTarget.innerHTML);
      if (adultNum > 0 && totalVal > 0) {
        adultNumTarget.innerHTML = adultNum - 1;
        totalTarget.value = totalVal - 1;
      }
    } else if (obj == 'middle'){
      const middleNumTarget = document.getElementById('middle_age_num');
      const middleNum = parseInt(middleNumTarget.innerHTML);
      if (middleNum > 0 && totalVal > 0) {
        middleNumTarget.innerHTML = middleNum - 1;
        totalTarget.value = totalVal - 1;
      }
    } else if (obj == 'kids'){
      const kidsNumTarget = document.getElementById('kids_age_num');
      const kidsNum = parseInt(kidsNumTarget.innerHTML);
      if (kidsNum > 0 && totalVal > 0) {
        kidsNumTarget.innerHTML = kidsNum - 1;
        totalTarget.value = totalVal - 1;
      }
    }
    if (totalVal <= maxVal) {
      maxAlert.classList.add('hidden');
      // const totalInput = document.getElementById('booked_activity_total_participants');
      // totalInput.value = totalVal;
    }
    calTotalPrice();
    const submitBtn = document.getElementById('book_activity_btn');
    if (isDateSelected() && isAnyParticipant()) {
      submitBtn.classList.remove('disabled');
      submitBtn.disabled = false;
    } else {
      submitBtn.classList.add('disabled');
      submitBtn.disabled = true;
    }
  }

  function increaseParticipant(obj) {
    const maximumNum = document.getElementById('booked_activity_maximum_num');
    const totalTarget = document.getElementById('booked_activity_total_participants');
    const maxAlert = document.getElementById('maximum_alert');
    const totalVal = parseInt(totalTarget.value);
    if (obj == 'adult') {
      const adultNumTarget = document.getElementById('adult_num');
      const adultNum = parseInt(adultNumTarget.innerHTML);
      if (totalVal < maximumNum.value) {
        adultNumTarget.innerHTML = adultNum + 1;
        totalTarget.value = totalVal + 1;
        maxAlert.classList.add('hidden');
      } else {
        maxAlert.classList.remove('hidden');
      }
    } else if (obj == 'middle'){
      const middleNumTarget = document.getElementById('middle_age_num');
      const middleNum = parseInt(middleNumTarget.innerHTML);
      if (totalVal < maximumNum.value) {
        middleNumTarget.innerHTML = middleNum + 1;
        totalTarget.value = totalVal + 1;
        maxAlert.classList.add('hidden');
      } else {
        maxAlert.classList.remove('hidden');
      }
    } else if (obj == 'kids'){
      const kidsNumTarget = document.getElementById('kids_age_num');
      const kidsNum = parseInt(kidsNumTarget.innerHTML);
      if (totalVal < maximumNum.value) {
        kidsNumTarget.innerHTML = kidsNum + 1;
        totalTarget.value = totalVal + 1;
        maxAlert.classList.add('hidden');
      }
      else {
       maxAlert.classList.remove('hidden');
     }
    }
    // if (totalVal <= maximumNum.value) {
    //   const totalInput = document.getElementById('booked_activity_total_participants');
    //   totalInput.value = totalVal;
    // }
    calTotalPrice();
    const submitBtn = document.getElementById('book_activity_btn');
    if (isDateSelected() && isAnyParticipant()) {
      submitBtn.classList.remove('disabled');
      submitBtn.disabled = false;
    } else {
      submitBtn.classList.add('disabled');
      submitBtn.disabled = true;
    }
  }

  // document.addEventListener('click', (e) => {
  //   if(!e.target.closest('#date_field_box')) {
  //     const calendarFrom = document.getElementById('activity_stock_calendar_form');
  //     calendarFrom.classList.add('hidden');
  //     // const isClose = calendarFrom.classList.contains('hidden');
  //     // if (!isClose) {date_field_box
  //     //   calendarFrom.classList.add('hidden');
  //     // }
  //   }
  // })
</script>
