<div class="user_show_content_up">
  <div class="user_show_content_up__up">
    <div class="user_show_avatar_box">
      <div class="user_show_avatar_box_inside">
        <% if @user.avatar.present? %>
          <%= image_tag current_user.avatar.url, class: "user_avatar" %>
        <% else %>
          <%= image_tag "default_images/no_avatar_image.png", class: "user_avatar" %>
        <% end %>
      </div>
    </div>
    <div class="user_show_btn_box">
      <div>
        <% if @user == current_user %>
          <%= link_to edit_user_path(current_user) do %>
            <!-- <i class="far fa-edit"></i> -->
            <span>Edit</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user_show_up_right_box">
    <div class="user_show_name_box">
      <div class="user_names">
        <div class="user_show_nickname">
          <span><%= @user.username ? @user.username : "No nickname" %></span>
        </div>
      </div>
      <% if @user.country_id %>
        <div class="user_show_country">
          <div><i class="fas fa-map-marker-alt"></i><%= @user.country_id ? @user_country : "No Nationality" %></div>
        </div>
      <% end %>
      <div class="user_show_profile">
        <div><%= @user.profile_text ? @user.profile_text : "No Profile" %></div>
      </div>
    </div>
  </div>
</div>
