<div class="home_contents">
  <div class="home_contents__top">
    <div class="home_contents__top__up">
      <h4>trima</h4>
      <p>Lets make amazing trip!</p>
    </div>
    <div class="home_contents__top__down">
      <ul>
        <li><%= link_to "aaaa", "#" %></li>
        <li><%= link_to "bbbb", "#" %></li>
      </ul>
    </div>
  </div>
  <div class="home_contents__itembox">
    <div class="itembox__inner">
      <div class="itembox__inner__title">
        <h4>Pick Up!</h4>
      </div>
      <div class="itembox__inner__items">
        <ul>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="home_contents__itembox">
    <div class="itembox__inner">
      <div class="itembox__inner__title">
        <h4>Pick Up!</h4>
      </div>
      <div class="itembox__inner__items">
        <ul>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="home_contents__itembox">
    <div class="itembox__inner">
      <div class="itembox__inner__title">
        <h4>Pick Up!</h4>
      </div>
      <div class="itembox__inner__items">
        <ul>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
