<div class="home_contents">
  <div class="home_contents__top">
    <div class="home_contents__top__up">
      <h4>trima</h4>
      <p>Lets make amazing trip!</p>
    </div>
    <div class="home_contents__top__down">
      <ul>
        <% if current_user %>
          <li><%= link_to "Create Project", new_user_project_path(current_user) %></li>
          <li><%= link_to "How to Use", "#" %></li>
        <% else %>
          <li><%= link_to "About Service", "#" %></li>
          <li><%= link_to "Sign UP", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="home_contents__itembox">
    <div class="itembox__inner">
      <div class="itembox__inner__title">
        <h4>Recommended!</h4>
      </div>
      <div class="itembox__inner__items">
        <ul>
          <% if !@activities.nil? %>
            <% @activities.each do |activity|%>
              <% sup = Supplier.find(ActivityBusiness.find(activity.activity_business_id).supplier_id) %>
              <%= link_to supplier_activity_path(sup, activity), class: "link" do %>
                <li class="activity_list_item">
                  <%= image_tag activity.main_image.to_s, class: 'home_item_image' %>
                  <div>
                    <%= activity.name %>
                    time:<%= activity.activity_minutes %>mins
                  </div>
                </li>
              <% end %>
            <% end %>
          <% else %>
            <li class="activity_list_item">
              <span>体験が登録されていません</span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="home_contents__itembox">
    <div class="itembox__inner">
      <div class="itembox__inner__title">
        <h4>Pick Up!</h4>
      </div>
      <div class="itembox__inner__items">
        <ul>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="home_contents__itembox">
    <div class="itembox__inner">
      <div class="itembox__inner__title">
        <h4>Pick Up!</h4>
      </div>
      <div class="itembox__inner__items">
        <ul>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
          <li>
            <%= image_tag 'view_item_small.jpg', class: 'home_item_image' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
