<div class="form-group">
  <%= form.label "Project Name" %>
  <%= form.text_field :name, required: true, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label "Project Icon" %>
  <div class="project_icon_radio_box">
      <% project_icon_list = [
      'project_icon-01','project_icon-02','project_icon-03','project_icon-04','project_icon-05',
      'project_icon-06','project_icon-07','project_icon-08','project_icon-09','project_icon-10',
      ]%>
      <% project_icon_list.each_with_index do |icon, index| %>
        <%= form.radio_button :icon, icon, id: "project_icon_#{index}", class: 'project_icon_radio_btn hidden' %>
        <%= form.label index, image_tag("project_icons/#{icon}"), :for => "project_icon_#{index}" %>
      <% end %>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="date_pick_box">
      <%= form.label "Start Date" %>
      <%= form.date_field :start_date, use_month_numbers: true, class: "form-control"  %>
    </div>
    <div class="date_pick_box">
      <%= form.label "End Date" %>
      <%= form.date_field :start_date, use_month_numbers: true, class: "form-control"  %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="date_pick_box">
      <%= form.label "Start Place" %>
      <%= form.text_field :start_place, class: "form-control" %>
    </div>
    <div class="date_pick_box">
      <%= form.label "End Place" %>
      <%= form.text_field :end_place, class: "form-control" %>
    </div>
  </div>
</div>
<div class="form-group invite_member_box">
  <div class="form_inner_form_title">Share with trip member</div>
  <div class="form_inner_form_box">
    <% if @members %>
      <% @members.each do |member| %>
      <span>Member</span>
      <input type="textbox" value="<%= User.find(member.user_id).email %>" name="invite_emails[member]" class="form-control">
      <% end %>
    <% end %>
    <% if @inviting_members %>
      <% @inviting_members.each do |inviting_member| %>
      <span>Member</span>
      <input type="textbox" value="<%= inviting_member.invited_email %>" name="invite_emails[member]" class="form-control">
      <% end %>
    <% end %>
    <% if @left_invite_num %>
      <% @left_invite_num.times do %>
        <span>Member</span>
        <input type="textbox" name="invite_emails[member]" class="form-control">
      <% end %>
    <% end %>
  </div>
</div>
<div class="form_btns">
  <div class="row">
    <div class="col-half">
      <%= link_to "cansel", user_projects_path(current_user), class: "button btn-cansel" %>
    </div>
    <div class="col-half">
      <%= form.submit('Create Projct',class: 'button btn-submit') %>
    </div>
  </div>
</div>

<style lang="scss">
  .project_icon_radio_box {
    display: flex;
    flex-wrap: wrap;
  }
  .project_icon_radio_box label {
    width: 20%;
    opacity: 0.5;
  }
  .project_icon_radio_box input[type="radio"]:checked + label {
    /* background: #23a0ff;/* マウス選択時の背景色を指定する */
    opacity: 1;
  }
  .project_icon_radio_box img {
    width: 90%;
    border-radius: 7px;
    margin: 5px;
  }
  .project_icon_radio_box img:hover {
    opacity: 0.9;
  }
</style>
