<div class="form-group">
  <%= form.label "Project Name" %>
  <%= form.text_field :name, required: true, class: "form-control" %>
</div>
<div class="form-group">
  <div class="row">
    <div class="date_pick_box">
      <%= form.label "Start Date" %>
      <%= form.date_field :start_date, use_month_numbers: true, class: "form-control"  %>
    </div>
    <div class="date_pick_box">
      <%= form.label "End Date" %>
      <%= form.date_field :start_date, use_month_numbers: true, class: "form-control"  %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="date_pick_box">
      <%= form.label "Start Place" %>
      <%= form.text_field :start_place, class: "form-control" %>
    </div>
    <div class="date_pick_box">
      <%= form.label "End Place" %>
      <%= form.text_field :end_place, class: "form-control" %>
    </div>
  </div>
</div>
<div class="form-group invite_member_box">
  <div class="form_inner_form_title">Share with trip member</div>
  <div class="form_inner_form_box">
    <% if @members.any? %>
      <% @members.each do |member| %>
      <span>Member</span>
      <input type="textbox" value="<%= User.find(member.user_id).email %>" name="invite_emails[member]" class="form-control">
      <% end %>
    <% end %>
    <% if @inviting_members.any? %>
      <% @inviting_members.each do |inviting_member| %>
      <span>Member</span>
      <input type="textbox" value="<%= inviting_member.invited_email %>" name="invite_emails[member]" class="form-control">
      <% end %>
    <% end %>
    <% if @left_invite_num > 0 %>
      <% @left_invite_num.times do %>
        <span>Member</span>
        <input type="textbox" name="invite_emails[member]" class="form-control">
      <% end %>
    <% end %>
  </div>
</div>
<div class="form_btns">
  <div class="row">
    <div class="col-half">
      <%= link_to "cansel", user_projects_path(current_user), class: "button btn-cansel" %>
    </div>
    <div class="col-half">
      <%= form.submit('Create Projct',class: 'button btn-submit') %>
    </div>
  </div>
</div>
