<div class="project_index_container_innner">
  <div class="page_title_box">
    <h3>Your Projects</h3>
    <div class="btn_box">
      <%= link_to "Create Project", new_user_project_path(current_user) %>
    </div>
  </div>
  <% if !@waitings.blank? %>
    <div class="page_list_item_box">
      <div class="title_box"><span>Waiting Accept!!</span></div>
      <div class="item_box">
        <ul>
          <% @waitings.each do |waiting| %>
          <li>
            <%= link_to user_project_path(current_user, waiting) do %>
              <%= image_tag "project_icons/#{waiting.icon}", class: 'project_icon' %>
              <div class="project_title">
                <span class="project_title_text"><%= waiting.name %></span>
              </div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="page_list_box">
    <div class="page_list_item_box">
      <div class="title_box"><span>Own Projects</span></div>
      <div class="item_box">
        <ul>
          <% @owns.each do |own| %>
            <li>
              <%= link_to user_project_trip_managers_home_path(current_user, own) do %>
                <%= image_tag "project_icons/#{own.icon}", class: 'project_icon' %>
                <div class="project_title">
                  <span class="project_title_text"><%= own.name %></span>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="page_list_item_box">
      <div class="title_box"><span>Invited Projects</span></div>
      <div class="item_box">
        <ul>
          <% @inviteds.each do |invited| %>
          <li>
            <%= link_to user_project_path(current_user, invited) do %>
              <%= image_tag "project_icons/#{invited.icon}", class: 'project_icon' %>
              <div class="project_title">
                <span class="project_title_text"><%= invited.name %></span>
              </div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
