<div class="container user_show container-fluid">
  <div class="user_show_side">
    <%= render 'users/user_page_front_sidebar' %>
  </div>
  <div class="project_index_container">
    <div class="project_index_container_innner">
      <div class="page_title_box">
        <h3>Your Projects</h3>
        <div class="btn_box">
          <%= link_to "Create Project", new_user_project_path(current_user) %>
        </div>
      </div>
      <div class="page_list_box">
        <div class="page_list_item_box">
          <div class="title_box"><span>Own Projects</span></div>
          <div class="item_box">
            <ul>
              <% @own_projects.each do |own_project| %>
                <li>
                  <%= link_to user_project_path(current_user, own_project) do %>
                    <%= own_project.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="page_list_item_box">
          <div class="title_box"><span>Invited Projects</span></div>
          <div class="item_box">
            <% @invited_projects.each do |invited_project| %>
              <ul>
                <li>
                  <%= link_to user_project_path(current_user, invited_project) do %>
                    <%= invited_project.name %>
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
