<div class="container user_show container-fluid row">
  <div class="user_show_side col-2">
    <%= render 'users/user_page_front_sidebar' %>
  </div>
  <div class="user_show_content col-8">
    <div class="user_show_content_down">
      <div class="user_show_info_items_box">
        <h2 class="page_title_padding">Create New Project</h2>
        <!-- <form> -->
          <%= form_for [@user, @project] do |form| %>
            <div class="form-group">
              <%= form.label "Project Name" %>
              <%= form.text_field :name, required: true, class: "form-control" %>
            </div>
            <!-- <div class="form-group">
              <%# form.label "Destination" %>
              <%# form.number_field :destination_area_id, class: "form-control" %>
            </div> -->
            <div class="form-group">
              <div class="row">
                <div class="date_pick_box">
                  <%= form.label "Start Date" %>
                  <%= form.date_field :start_date, use_month_numbers: true, class: "form-control"  %>
                </div>
                <div class="date_pick_box">
                  <%= form.label "End Date" %>
                  <%= form.date_field :start_date, use_month_numbers: true, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="date_pick_box">
                  <%= form.label "Start Place" %>
                  <%= form.text_field :start_place, class: "form-control" %>
                </div>
                <div class="date_pick_box">
                  <%= form.label "End Place" %>
                  <%= form.text_field :end_place, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="form-group invite_member_box">
              <div class="form_inner_form_title">Share with trip member</div>
              <div class="form_inner_form_box">
                <span>Member 1</span>
                <input type="textbox" name="invite_emails[member01][]" class="form-control">
                <span>Member 2</span>
                <input type="textbox" name="invite_emails[member02][]" class="form-control">
              </div>
            </div>

            <div class="form_btns">
              <div class="row">
                <div class="col-half">
                  <%= link_to "cansel", user_projects_path(current_user), class: "button btn-cansel" %>
                </div>
                <div class="col-half">
                  <%= form.submit('Create Projct',class: 'button btn-submit') %>
                </div>
              </div>
            </div>
          <% end %>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
<!-- </div> -->


<style lang="scss">
  .user_show_content {
    padding: 0px;
  }
</style>
