<div class="sign_up_in_page">
  <div class="sign_up_in_page_front">
    <h2>trima</h2>
    <h4>旅行・観光事業者のためのall in oneツール</h4>
    <p>お店や施設の情報発信をひとまとめに</p>
    <p>予約管理が簡単に</p>
  </div>
  <div class="sign_up_in_page_end">
    <h3>事業者アカウントを作成する</h3>
    <%= form_with model: @supplier, url: supplier_registration_path(@supplier), id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :パスワード %><br />
        <div id="password_input_box">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control invisible" ,id: "password-input", required: true %>
          <div id="password_visible_btn"><i class='fas fa-eye'></i></div>
        </div>
      </div>
      <div class="form-group agree_check">
        <input type="checkbox" id="agree_checkbox" value="" required>
        <label for="agree_checkbox"><%= link_to "利用規約", "#", class: "agree_link" %>&nbsp;と&nbsp;<%= link_to "プライバシーポリシー", "#", class: "agree_link" %>に同意する</label>
      </div>
      <div class="form-group">
        <%= f.submit "事業者登録する", class: "button btn-submit" %>
      </div>
    <% end %>
    <div class="another_way_btn_box">
      <span>すでにアカウントをお持ちですか？</span><br />
      <%= link_to "ログインする", suppliers_sign_in_path %>
    </div>
    <div class="didnt_recieve_btn_box">
      <%= link_to "認証メールが届かない方はこちら", new_supplier_confirmation_path %>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("password_visible_btn").onclick = function() {
    const pwd = document.getElementById('password-input');
    const pwdClass = pwd.classList.toggle("invisible");
    const pwdIcon = document.getElementById('password_visible_btn');
    if(pwdClass == false){
      pwd.setAttribute('type', 'text');
      pwdIcon.innerHTML = '<i class="fas fa-eye-slash"></i>';
    } else {
      pwd.setAttribute('type', 'password');
      pwdIcon.innerHTML = '<i class="fas fa-eye"></i>';
    }
  };
</script>
