<!-- <form> -->
<div class="user_show_info_items_box">
  <div class="form-group">
    <%= form.label "組織名" %>
    <%= form.text_field :name, required: true, class: "form-control" %>
  </div>
  <div class="form-group gender_input_box">
    <%= form.label "組織の分類" %>
    <div class="gender_input_items">
      <div class="radio_item">
        <%= form.radio_button :org_type, :企業 %>
        <%= form.label :組織の分類, "企業", {value: :企業, style: "display: inline-block;"} %>
      </div>
      <div class="radio_item">
        <%= form.radio_button :org_type, :個人事業 %>
        <%= form.label :組織の分類, "個人事業", {value: :個人事業, style: "display: inline-block;"} %>
      </div>
      <div class="radio_item">
        <%= form.radio_button :org_type, :自治体 %>
        <%= form.label :組織の分類, "自治体", {value: :自治体, style: "display: inline-block;"} %>
      </div>
      <div class="radio_item">
        <%= form.radio_button :org_type, :NPO・NGO %>
        <%= form.label :組織の分類, "NPO・NGO", {value: :NPO・NGO, style: "display: inline-block;"} %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-half">
        <%= form.label "郵便番号（半角・ハイフンあり）" %>
        <%= form.text_field :post_code, required: true, class: "form-control" %>
      </div>
      <div class="col-half">
        <%= form.label "地域" %>
        <%# form.collection_select :state_id, State.all, :id, :local_name,{prompt: "地域を選択"}, required: true, class: "form-control" %>
        <%= form.select :state_id, {'北海道': 1}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-half">
        <%= form.label "都道府県" %>
        <%# form.collection_select :prefecture_id, Prefecture.all, :id, :local_name,{prompt: "都道府県を選択"}, required: true, class: "form-control" %>
        <%= form.select :prefecture_id, {'北海道': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      </div>
      <div class="col-half">
        <%= form.label "市町村" %>
        <%= form.collection_select :town_id, Town.all, :id, :jp_name,{prompt: "市町村を選択"}, required: true, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.label "以降の住所" %>
    <%= form.text_field :detail_address, required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "建物名・部屋番号" %>
    <%= form.text_field :building, required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "電話番号" %>
    <%= form.telephone_field :phone, required: true, class: "form-control" %>
  </div>
  <div class="form-group manage_agent_input_box">
    <div class="form-group"><%= form.check_box :has_activity %><%= form.label "体験事業を所有" %></div>
    <div class="form-group"><%= form.check_box :has_event %><%= form.label "イベントを運営" %></div>
    <div class="form-group"><%= form.check_box :has_spot %><%= form.label "観光地・観光施設を運営" %></div>
    <div class="form-group"><%= form.check_box :has_restaurant %><%= form.label "飲食事業を運営" %></div>
  </div>
  <div class="form-group invite_member_box">
    <div class="form_inner_form_title">従業員を招待する</div>
    <div class="form_inner_form_box">
      <% if !@suppliers.nil? %>
        <% @suppliers.each do |supplier| %>
        <span>Member</span>
        <input type="textbox" value="<%= Supplier.find(supplier.id).email %>" name="invite_emails[member]" class="form-control">
        <% end %>
      <% end %>
      <% if !@inviting_suppliers.nil? %>
        <% @inviting_suppliers.each do |inviting_supplier| %>
        <span>Member</span>
        <input type="textbox" value="<%= inviting_supplier.invited_email %>" name="invite_emails[member]" class="form-control">
        <% end %>
      <% end %>
      <% if @left_invite_num > 0 %>
        <% @left_invite_num.times do %>
          <span>Member</span>
          <input type="textbox" name="invite_emails[member]" class="form-control">
        <% end %>
      <% end %>
      <span>Member</span>
      <input type="textbox" name="invite_emails[member]" class="form-control">
      <span>Member</span>
      <input type="textbox" name="invite_emails[member]" class="form-control">
    </div>
  </div>
  <div class="form_btns">
    <div class="row">
      <div class="col-half">
        <%= link_to "キャンセル", supplier_path(current_supplier), class: "button btn-cansel" %>
      </div>
      <div class="col-half">
        <%= form.submit('更新する',class: 'button btn-submit') %>
      </div>
    </div>
  </div>
</div>
<!-- </form> -->

<style lang="scss">
  #user_edit_image_upload_btn:hover {
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .form-group.manage_agent_input_box {
    display: flex;
    flex-wrap: wrap;
  }
  .form-group.manage_agent_input_box .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 46%;
  }
  .form-group.manage_agent_input_box input[type=checkbox] {
    width: 25px;
    height: 30px;
    /* vertical-align: middle; */
  }
</style>
