<div class="nested-fields">
      <div class="ageprice_row agefrom">
        <!-- データのage_toが存在し、かつnilでなかったらmax属性をそのデータのagetoまでにする-->
        <% if !@activity.activity_ageprices.blank? && f.index.is_a?(Integer) && !@activity.activity_ageprices[f.index].age_to.nil? %>
          <% age_to = @activity.activity_ageprices[f.index].age_to %>
          <%= f.number_field :age_from, min: 0, max: age_to, onchange: 'changeAgeFrom(this)', onfocus: 'ageFromFocus(this)',class: "form-control age_from" %><span class="ageprice_unit">歳</span>
        <% else %>
          <%= f.number_field :age_from, min: 0, max: 100, onchange: 'changeAgeFrom(this)', onfocus: 'ageFromFocus(this)',class: "form-control age_from" %><span class="ageprice_unit">歳</span>
        <% end %>
      </div>
      <div class="ageprice_row fromsign">〜</div>
      <div class="ageprice_row ageto">
        <%= f.number_field :age_to, min: 0, max: 100,class: "form-control age_to" %>
        <span class="ageprice_unit">歳</span>
      </div>
      <div class="ageprice_row normal_price">
        <%= f.number_field :normal_price, min: 0, max: 100000, step: 10,class: "form-control time_input", required: true %><span class="ageprice_unit">円</span>
      </div>
      <div class="ageprice_row season_price">
        <% if @activity.has_season_price %>
          <div class="season_price_inner">
          <%= f.number_field :high_price, min: 0, max: 100000, step: 10, class: "form-control time_input", required: true %><span class="ageprice_unit">円</span>
          </div>
        <% else %>
          <div class="season_price_inner hidden">
          <%= f.number_field :high_price, min: 0, max: 100000, step: 10, class: "form-control time_input", required: true %><span class="ageprice_unit">円</span>
          </div>
        <% end %>
      </div>
      <div class="ageprice_row season_price">
        <% if @activity.has_season_price %>
          <div class="season_price_inner">
          <%= f.number_field :low_price, min: 0, max: 100000, step: 10, class: "form-control time_input", required: true %><span class="ageprice_unit">円</span>
          </div>
        <% else %>
          <div class="season_price_inner hidden">
          <%= f.number_field :low_price, min: 0, max: 100000, step: 10, class: "form-control time_input", required: true %><span class="ageprice_unit">円</span>
          </div>
        <% end %>
      </div>
      <div class="ageprice_row row_delete">
        <%= link_to_remove_association f, class: "remove_ageprice_btn" do %>
          <span><i class="far fa-trash-alt"></i></span>
        <% end %>
      </div>
</div>
