<div class="nested-fields">
  <div class="form-group ageprice_item">
    <div class="ageprice_row_age ageprice_input">
      <%= f.number_field :age_from, min: 0, max: 100, onchange: 'changeMax(this)',class: "form-control age_from" %><span class="ageprice_unit">歳</span>
    </div>
    <div class="ageprice_row_2">
      〜
    </div>
    <div class="ageprice_row_age ageprice_input">
      <%= f.number_field :age_to, min: 0, max: 100,class: "form-control age_to" %><span class="ageprice_unit">歳</span>
    </div>
    <div class="ageprice_row_price ageprice_input">
      <%= f.number_field :price, min: 0, max: 100000, step: 10,class: "form-control time_input" %><span class="ageprice_unit">円</span>
    </div>
    <div class="ageprice_row_price ageprice_input">
      <span class="seasonal_price">
        <%# binding.pry %>
        <% if !@activity.activity_ageprices.blank? && f.index.is_a?(Integer) && !@activity.activity_ageprices[f.index].price.nil? %>
          <%= @activity.activity_ageprices[f.index].price * @activity.low_price_ratio %>
        <% end %>
      </span>
      <span class="ageprice_unit">円</span>
    </div>
    <div class="ageprice_row_price ageprice_input">
      <span class="seasonal_price"><%= 1000*2.65 %></span>
      <span class="ageprice_unit">円</span>
    </div>
    <div class="ageprice_row_5">
      <%= link_to_remove_association f, class: "remove_course_btn" do %>
        <span><i class="fas fa-times"></i></span>
      <% end %>
    </div>
  </div>
</div>
