<div class="cp_tab">
  <% if controller.action_name == "stock_new_first_month" %>
    <%=link_to "#{@s_Date.month}月", supplier_activity_new_stocks_first_month_path(current_supplier, @activity), class: "month_tab selected" %>
    <% if @activity.is_all_year_open %>
      <%=link_to "#{(@s_Date >> 1).month}月", supplier_activity_new_stocks_next_month_path(current_supplier, @activity), class: "month_tab" %>
      <%=link_to "#{(@s_Date >> 2).month}月", supplier_activity_new_stocks_next2_month_path(current_supplier, @activity), class: "month_tab" %>
      <%=link_to "#{(@s_Date >> 3).month}月", supplier_activity_new_stocks_next3_month_path(current_supplier, @activity), class: "month_tab" %>
    <% else %>
      <% if @activity.end_date > @s_Date.end_of_month %>
        <%=link_to "#{(@s_Date >> 1).month}月", supplier_activity_new_stocks_next_month_path(current_supplier, @activity), class: "month_tab" %>
      <% end %>
      <% if @activity.end_date > (@s_Date >> 1).end_of_month %>
        <%=link_to "#{(@s_Date >> 2).month}月", supplier_activity_new_stocks_next2_month_path(current_supplier, @activity), class: "month_tab" %>
      <% end %>
      <% if @activity.end_date > (@s_Date >> 2).end_of_month %>
        <%=link_to "#{(@s_Date >> 3).month}月", supplier_activity_new_stocks_next3_month_path(current_supplier, @activity), class: "month_tab" %>
      <% end %>
    <% end %>
  <% elsif controller.action_name == "stock_new_next_month" %>
    <%=link_to "#{(@s_Date << 1).month}月", supplier_activity_new_stocks_first_month_path(current_supplier, @activity), class: "month_tab" %>
    <%=link_to "#{@s_Date.month}月", supplier_activity_new_stocks_next_month_path(current_supplier, @activity), class: "month_tab selected" %>
    <% if @activity.is_all_year_open %>
      <%=link_to "#{(@s_Date >> 1).month}月", supplier_activity_new_stocks_next2_month_path(current_supplier, @activity), class: "month_tab" %>
      <%=link_to "#{(@s_Date >> 2).month}月", supplier_activity_new_stocks_next3_month_path(current_supplier, @activity), class: "month_tab" %>
    <% else %>
      <% if !@activity.is_all_year_open && @activity.end_date > @s_Date.end_of_month %>
        <%=link_to "#{(@s_Date >> 1).month}月", supplier_activity_new_stocks_next2_month_path(current_supplier, @activity), class: "month_tab" %>
      <% end %>
      <% if !@activity.is_all_year_open && @activity.end_date > (@s_Date >> 1).end_of_month %>
        <%=link_to "#{(@s_Date >> 2).month}月", supplier_activity_new_stocks_next3_month_path(current_supplier, @activity), class: "month_tab" %>
      <% end %>
    <% end %>
  <% elsif controller.action_name == "stock_new_next2_month" %>
    <%=link_to "#{(@s_Date << 2).month}月", supplier_activity_new_stocks_first_month_path(current_supplier, @activity), class: "month_tab" %>
    <%=link_to "#{(@s_Date << 1).month}月", supplier_activity_new_stocks_next_month_path(current_supplier, @activity), class: "month_tab" %>
    <%=link_to "#{@s_Date.month}月", supplier_activity_new_stocks_next2_month_path(current_supplier, @activity), class: "month_tab selected" %>
    <% if @activity.is_all_year_open %>
      <%=link_to "#{(@s_Date >> 1).month}月", supplier_activity_new_stocks_next3_month_path(current_supplier, @activity), class: "month_tab" %>
    <% else %>
      <% if @activity.end_date > @s_Date.end_of_month %>
        <%=link_to "#{(@s_Date >> 1).month}月", supplier_activity_new_stocks_next3_month_path(current_supplier, @activity), class: "month_tab" %>
      <% end %>
    <% end %>
  <% else %>
    <%=link_to "#{(@s_Date << 3).month}月", supplier_activity_new_stocks_first_month_path(current_supplier, @activity), class: "month_tab" %>
    <%=link_to "#{(@s_Date << 2).month}月", supplier_activity_new_stocks_next_month_path(current_supplier, @activity), class: "month_tab" %>
    <%=link_to "#{(@s_Date << 1).month}月", supplier_activity_new_stocks_next2_month_path(current_supplier, @activity), class: "month_tab" %>
    <%=link_to "#{@s_Date.month}月", supplier_activity_new_stocks_next3_month_path(current_supplier, @activity), class: "month_tab selected" %>
  <% end %>
</div>
