<div class="stock_form">
  <%= form_for [current_supplier, @activity] do |f| %>
    <div class="stock_form_btn_box">
      <div class="stock_form_btn_box_inner">
        <%= f.submit('在庫を登録',class: 'button btn-submit stock_submit') %>
      </div>
    </div>
    <div class="activity_stock_form_main_content">
      <div class="activity_stock_top_box">
        <h3>在庫登録</h3>
        <h5><span>体験名</span><%= @activity.name %></h5>
      </div>
      <div class="stock_form_tab_and_submit">
        <%= render 'month_tab_new' %>
      </div>
      <div class="stock_table_header">
        <div class="stock_table_th date_column">日付</div>
        <% @activity.activity_courses.each_with_index do |ac_course, index| %>
          <div class="stock_table_th course_column">
            <span style="font-size: 10px;"><%= "コース#{index + 1}" %></span><br/>
            <%= ac_course.start_time.strftime("%H:%M") + "〜"  %>
          </div>
        <% end %>
      </div>
      <div class="all_input_container">
        <div class="date_column_allset">
          <div class="date_item_allset">コース別一括設定</div>
        </div>
        <div class="all_input_stock">
          <% @activity.activity_courses.each_with_index do |ac_course, i| %>
            <div class="all_stock_input_box">
              <div class="all_stock_input">
                <%= number_field_tag :all_stock, value = @activity.maximum_num, options = { min: 0, max: 10, class: 'form-control' }%>
                <button type="button" onclick="changeAllofColumnStock(this)" class="form-control" id="<%=i%>">反映</button>
              </div>
              <% if @activity.activity_courses.count == i+1 && @activity.has_season_price %>
                <div class="season_input_box">
                  <%= select_tag 'all_season_price', options_for_select({'通常料金': 'normal', 'ハイシーズン料金': 'high', 'ローシーズン料金': 'low'}, 1), include_blank: false, class: 'form-control' %>
                  <button type="button" onclick="changeAllofColumnSeason(this)" class="form-control">反映</button>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="field">
        <div class="date_list date_column">
          <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
          <% (@s_Date..@e_Date).each do |date| %>
            <% if @days_of_open.include?(date.wday) %>
              <div class="date_item <%= wd[date.wday] == "土" ? "saturday" : wd[date.wday] == "日" ? "sunday" : ""%>"><%= date.strftime("%Y年%m月%d日(#{wd[date.wday]})")%></div>
            <% else %>
              <div class="date_item">定休日</div>
            <% end %>
          <% end %>
        </div>
        <div class="stock_items">
        <%= f.fields_for :activity_courses do |course| %>
          <div class="course_stock_column course_column">
            <%= course.fields_for :activity_stocks do |stock| %>
              <div class="form-group activity_stock_input_box" style="margin-bottom: 0;">
                <%= stock.hidden_field :activity_id, value: @activity.id %>
                <%= stock.hidden_field :date, :value => @dates[stock.index] %>
                <% if @days_of_open.include?(@dates[stock.index].wday) %>
                  <div class="stock_input_box">
                    <%= stock.number_field :stock, min: 0, max: @activity.maximum_num, class: 'form-control' %>
                  </div>
                  <% if @activity.activity_courses.count == (course.index + 1) && @activity.has_season_price %>
                    <div class="season_input_box <%= stock.index %>">
                      <%= stock.select :season_price,
                        {'通常料金': 'normal', 'ハイシーズン料金': 'high', 'ローシーズン料金': 'low'},
                        {}, {onChange: 'changeSeasonPrice(this)', class: 'form-control'} %>
                    </div>
                  <% else %>
                    <div class="season_input_box <%= stock.index %>">
                      <%= stock.hidden_field :season_price %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="stock_input_box">
                    <input type="text" name="" value="" class="form-control stock_is_close" disabled="disabled" >
                    <%= stock.hidden_field :stock %>
                  </div>
                  <%= stock.hidden_field :season_price %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <!-- <div class="actions">
      <%#= f.submit, "更新", class: "button btn-submit" %>
      <%#= f.submit('更新',class: 'button btn-submit') %>
    </div> -->
  <% end %>
</div>

<script type="text/javascript">

  function confirmAllStockChange(){
  	if(window.confirm('コースの全在庫を設定します。よろしいですか？')){
  		return true;
  	} else{
      return false;
  	}
  }

  function confirmAllSeasonChange(){
  	if(window.confirm('月のシーズン情報を全て変更します。よろしいですか？')){
  		return true;
  	} else{
      return false;
  	}
  }

  function changeAllofColumnStock(obj) {
    if (confirmAllStockChange()) {
      const prevInput = obj.parentNode.children[0].value;
      const prevInputId = obj.id;
      const stockColumns = document.querySelectorAll("div.course_stock_column");
      const targetColumnItems = stockColumns[prevInputId].children;
      for (var i = 0; i < targetColumnItems.length; i++) {
        let targetBox = targetColumnItems[i].children[2];
        let targetField = targetBox.children[0];
        targetField.value = prevInput;
      }
    }
  }

  function changeAllofColumnSeason(obj) {
    if (confirmAllSeasonChange()) {
      const allSeasonInput = obj.parentNode.children[0].value;
      const inputSelectedIndex = obj.parentNode.children[0].selectedIndex;
      const allHiddenSeasonInputBox = document.querySelectorAll("div.season_input_box");
      for (var i = 0; i < allHiddenSeasonInputBox.length; i++) {
        if (allHiddenSeasonInputBox[i].children[0].type == 'hidden') {
          allHiddenSeasonInputBox[i].children[0].value = allSeasonInput;
        } else if (allHiddenSeasonInputBox[i].children[0].type == 'select-one') {
          allHiddenSeasonInputBox[i].children[0].selectedIndex = inputSelectedIndex;
        }
      }

      const inputContainers = document.querySelectorAll("div.activity_stock_input_box");
      for (var i = 0; i < inputContainers.length; i++) {
        const target = inputContainers[i];
        if (inputSelectedIndex == 1){
          target.classList.add("is_high_season");
          target.classList.remove("is_low_season");
        } else if (inputSelectedIndex == 2) {
          target.classList.add("is_low_season");
          target.classList.remove("is_high_season");
        } else {
          target.classList.remove("is_low_season");
          target.classList.remove("is_high_season");
        }
      }
    }
  }

  function changeSeasonPrice(obj) {
    const parent = obj.parentNode;
    const inputSelectedIndex = obj.selectedIndex;
    const classNum = parseInt(parent.classList[1]);
    // const classNumTwice = classNum*2;
    const stockColumns = document.querySelectorAll("div.course_stock_column");
    for (var i = 0; i < (stockColumns.length); i++) {
      let targetBox = stockColumns[i].children[classNum*2];
      let targetField = targetBox.children[3].children[0];
      if (inputSelectedIndex == 1){
        if (i !== stockColumns.length) {
          targetField.value = "high";
        }
        targetBox.classList.add("is_high_season");
        targetBox.classList.remove("is_low_season");
      } else if (inputSelectedIndex == 2) {
        if (i !== stockColumns.length) {
          targetField.value = "low";
        }
        targetBox.classList.add("is_low_season");
        targetBox.classList.remove("is_high_season");
      } else {
        if (i !== stockColumns.length) {
          targetField.value = "normal";
        }
        // targetField.value = "normal";
        targetBox.classList.remove("is_low_season");
        targetBox.classList.remove("is_high_season");
      }
    }
  }

  // function changeSeasonPrice(obj) {
  //   const parent = obj.parentNode;
  //   const inputSelectedIndex = obj.selectedIndex;
  //   const classNum = parseInt(parent.classList[1]);
  //   const stockColumns = document.querySelectorAll("div.course_stock_column");
  //   for (var i = 0; i < stockColumns.length; i++) {
  //     let targetBox = stockColumns[i].children[classNum];
  //     let targetField = targetBox.children[3].children[0];
  //
  //     if (inputSelectedIndex == 1){
  //       targetField.value = "high";
  //       targetBox.classList.add("is_high_season");
  //       targetBox.classList.remove("is_low_season");
  //     } else if (inputSelectedIndex == 2) {
  //       targetField.value = "low";
  //       targetBox.classList.add("is_low_season");
  //       targetBox.classList.remove("is_high_season");
  //     } else {
  //       targetField.value = "normal";
  //       targetBox.classList.remove("is_low_season");
  //       targetBox.classList.remove("is_high_season");
  //     }
  //   }
  // }
</script>
