<%= stylesheet_link_tag 'suppliers' %>
<div class="container user_show container-fluid">
  <div class="user_show_side">
    <%= render 'suppliers/supplier_page_front_sidebar' %>
  </div>
  <div class="supplier_show_main_content"><!--メインコンテンツ-->
    <div class="supplier_show_content_inside"><!--メインコンテンツ内部-->
      <div class="supplier_activity_page_top">
        <div class="activity_index_top_box">
          <h3>十勝ラフティングアドベンチャー</h3>
          <%= link_to "体験を追加", new_supplier_activity_path(current_supplier), class: "add_btn" %>
        </div>
        <div class="activity_index_activity_list_box">
          <h3>体験一覧</h3>
          <ul class="activity_list_items">
            <% if !@activities.nil? %>
              <% @activities.each do |activity|%>
                <%= link_to edit_supplier_activity_path(current_supplier, activity), class: "link" do %>
                  <li class="activity_list_item">
                    <div class="activity_list_item_front">
                      <%= image_tag activity.main_image.to_s, class: 'activity_icon_image' %>
                      <%= activity.name %>
                    </div>
                    <div class="activity_list_item_back">
                      <% if ActivityStock.where(activity_id: activity.id).any? %>
                        <%= link_to "在庫を編集", supplier_activity_edit_stocks_first_month_path(current_supplier, activity)%>
                      <% else %>
                        <%= link_to "在庫を作成", supplier_activity_new_stocks_first_month_path(current_supplier, activity)%>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% else %>
              <li class="activity_list_item">
                <span>体験が登録されていません</span>
              </li>
            <% end %>
          </ul>

        </div>

      </div>
    </div><!--メインコンテンツ内部-->
  </div><!--メインコンテンツ-->
</div>

<style>
  .supplier_show_content_inside {
    padding: 20px 20px;
  }
  .supplier_profile_box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .activity_index_top_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .activity_index_top_box a.add_btn {
    background: #2bb561;
    padding: 5px 15px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
  }
  li.activity_list_item {
    padding: 10px 0;
    border-bottom: solid 1px #dfdfdf;
    border-top: solid 1px #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .activity_list_item_front {
    display: flex;
    align-items: center;
  }
  img.activity_icon_image {
    width: 100px;
    margin-right: 20px;
    border-radius: 7px;
  }

</style>
