<%= stylesheet_link_tag 'suppliers' %>
<div class="container user_show container-fluid">
  <div class="user_show_side">
    <%= render 'suppliers/supplier_page_front_sidebar' %>
  </div>
  <div class="supplier_show_main_content"><!--メインコンテンツ-->
    <div class="supplier_show_content_inside_form"><!--メインコンテンツ内部-->
      <div class="supplier_activity_page_top">
        <div class="activity_index_top_box">
          <h3>体験を新規作成</h3>
        </div>
        <div class="activity_index_activity_list_box">
          <%= form_for [current_supplier, @activity] do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= render :partial => 'activities/activity_form', :locals => {:f => f} %>
          <% end %>
        </div>
      </div>
    </div><!--メインコンテンツ内部-->
  </div><!--メインコンテンツ-->
</div>

<style>
  .supplier_show_content_inside {
    padding: 0px 0px;
  }
  .supplier_profile_box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .activity_index_top_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .activity_index_top_box a.add_btn {
    background: #2bb561;
    padding: 5px 15px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
  }
  li.activity_list_item {
    padding: 10px 0;
    border-bottom: solid 1px #dfdfdf;
    border-top: solid 1px #dfdfdf;
  }

</style>
