<%= stylesheet_link_tag 'suppliers' %>
<div class="container user_show container-fluid">
  <div class="user_show_side">
    <%= render 'suppliers/supplier_page_front_sidebar' %>
  </div>
  <div class="supplier_show_main_content"><!--メインコンテンツ-->
    <div class="supplier_show_content_inside_form"><!--メインコンテンツ内部-->
      <div class="supplier_activity_page_top">
        <div class="activity_index_top_box">
          <h3>在庫情報を編集</h3>
        </div>
        <div class="cp_tab">
          <%=link_to "#{@s_Date.month}月", supplier_activity_new_stocks_first_month_path(current_supplier, @activity), class: "month_tab selected" %>
          <%# if !@activity.is_all_year_open && @activity.end_date > @s_Date.month %>
          <% if !@activity.is_all_year_open && @activity.end_date > @s_Date.end_of_month %>
            <%=link_to "#{(@s_Date >> 1).month}月", supplier_activity_new_stocks_next_month_path(current_supplier, @activity), class: "month_tab" %>
          <% end %>
          <% if !@activity.is_all_year_open && @activity.end_date > (@s_Date >> 1).end_of_month %>
            <%=link_to "#{(@s_Date >> 2).month}月", supplier_activity_new_stocks_next2_month_path(current_supplier, @activity), class: "month_tab" %>
          <% end %>
          <% if !@activity.is_all_year_open && @activity.end_date > (@s_Date >> 2).end_of_month %>
            <%=link_to "#{(@s_Date >> 3).month}月", supplier_activity_new_stocks_next3_month_path(current_supplier, @activity), class: "month_tab" %>
          <% end %>
        </div>
        <%= render 'stock_new_form' %>
      </div>
    </div><!--メインコンテンツ内部-->
  </div><!--メインコンテンツ-->
</div>
