<ul>
  <%= link_to supplier_dashboard_path(current_supplier) do %>
    <li class="<%= 'selected_menu_item' if controller_name == 'suppliers' && action_name == 'dashboard' %>">
      <i class="fas fa-home"></i>
      <span>ダッシュボード</span>
    </li>
  <% end %>
  <%= link_to supplier_activities_path(current_supplier.id) do %>
    <li class="<%= 'selected_menu_item' if controller_name == 'activities' %>">
      <i class="fas fa-running"></i>
      <span>体験一覧</span>
    </li>
  <% end %>
  <%= link_to supplier_bookeditem_index_future_path(current_supplier) do %>
    <li class="<%= 'selected_menu_item' if controller_name == 'supplier_bookeditems' %>">
      <i class="fas fa-calendar-check"></i>
      <span>予約一覧</span>
    </li>
  <% end %>
  <%= link_to supplier_path(current_supplier.id) do %>
    <% if controller_name == 'suppliers' || controller_name == 'activity_businesses' %>
      <% if action_name != 'dashboard' %>
        <li class="selected_menu_item">
          <i class="fas fa-user-alt"></i>
          <span>アカウント</span>
        </li>
      <% else %>
        <li>
          <i class="fas fa-user-alt"></i>
          <span>アカウント</span>
        </li>
      <% end %>
    <% else %>
      <li>
        <i class="fas fa-user-alt"></i>
        <span>アカウント</span>
      </li>
    <% end %>
  <% end %>
  <li><i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト", destroy_supplier_session_path %></li>
</ul>

<style>
  svg {
    color: #fff;
    margin-right: 12px;
  }
  li.selected_menu_item {
    background: #3ea7f7;
    border-radius: 50px;
  }
  .user_show_side ul a li span {
    color: #fff;
  }
</style>
