<%= form_for @supplier do |form| %>
<div class="form_title">
  <h3>契約者情報を編集</h3>
</div>
<%= render 'layouts/error_messages', model: form.object %>
<div class="user_show_content_down">
  <div class="user_show_info_items_box">
    <section class="form_section">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, required: true, class: "form-control", oninput: 'hasInput()' %>
      </div>
      <%= form.fields_for :supplier_profile do |pf| %>
        <div class="form-group">
          <%= pf.label :representative_name %>
          <%= pf.text_field :representative_name, required: true, maxlength: 30, class: "form-control", oninput: 'hasInput()' %>
        </div>
        <div class="form-group">
          <%= pf.label :representative_kana %>
          <%= pf.text_field :representative_kana, required: true, maxlength: 30, class: "form-control", oninput: 'hasInput()' %>
        </div>
        <div class="form-group">
          <%= pf.label :manager_name %>
          <%= pf.label :※代表者様以外にご担当者がいらっしゃる場合にご入力ください, class: 'form_label_hosoku' %>
          <%= pf.text_field :manager_name, maxlength: 30, class: "form-control", oninput: 'hasInput()' %>
        </div>
        <div class="form-group">
          <%= pf.label :manager_name_kana %>
          <%= pf.text_field :manager_name_kana, maxlength: 30, class: "form-control", oninput: 'hasInput()' %>
        </div>
        <div class="form-group">
          <%= pf.label :post_code %>
          <div class="post_code_box">
            <span>〒</span>
            <%= pf.text_field :post_code, size: 7, max: 7, id: "supplier_address_post_code",class: "form-control", oninput: 'hasInput()'%>
            <button type="button" name="button" id="supplier_address_get_btn">住所検索</button>
          </div>
        </div>
        <div class="form-group">
          <%= pf.label :prefecture %>
          <%= pf.text_field :prefecture, id: "supplier_pref", class: "form-control", oninput: 'hasInput()', onchange: 'prefectureChange()' %>
        </div>
        <div class="form-group">
          <%= pf.label :town %>
          <%= pf.text_field :town, id: "supplier_city", class: "form-control", oninput: 'hasInput()' %>
        </div>
        <div class="form-group">
          <%= pf.label :detail_address %>
          <%= pf.text_field :detail_address, id: "supplier_address", minlength: 3, maxlength: 100, class: "form-control", oninput: 'hasInput()' %>
        </div>
        <div class="form-group">
          <%= pf.label :building %>
          <%= pf.text_field :building, maxlength: 100, class: "form-control", oninput: 'hasInput()' %>
        </div>
        <div class="form-group">
          <%= pf.label :phone %>
          <%= pf.text_field :phone, minlength: 10, maxlength: 11, required: true, class: "form-control", oninput: 'hasInput()' %>
        </div>
      <% end %>
    </section>
  </div>
  <div class="user_show_info_button_box">
    <div class="form_sidebtns_container">
      <div class="form_sidebtns">
        <div class="form_sidebtn">
          <%= link_to "キャンセル", supplier_path(current_supplier), class: "button btn-cansel" %>
        </div>
        <div class="form_sidebtn">
          <%= form.submit('更新する',class: 'button btn-submit', id: "supplier_form_submit_btn") %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  function hasInput() {
    const submitBtn = document.getElementById('supplier_form_submit_btn');
    submitBtn.classList.add('need_submit');
  }

  function post_code3() {
    const code3 = document.querySelector('#post_code_input3').value;
    const hiddenPostCode = document.querySelector('#hidden_post_code');
    hiddenPostCode.value = code3;
  }

</script>

<script>
  $(function(){
    $('#supplier_address_get_btn').on('click', () => {
      const code = $('#supplier_address_post_code').val();
      $.ajax({
        // url: "http://zipcloud.ibsnet.co.jp/api/search?zipcode=" + $('#supplier_address_post_code').val(),
        url: `https://zipcloud.ibsnet.co.jp/api/search?zipcode=${code}`,
        dataType: 'jsonp',
      }).done((data) => {
        if (data.results) {
          getData(data.results[0]);
        } else {
          alert('該当データが見つかりません');
        }
      }).fail((data) => {
        alert('通信に失敗しました');
      });
    });

    function getData(data) {
      $('#supplier_pref').val(data.address1);
      $('#supplier_city').val(data.address2);
      $('#supplier_address').val(data.address3);
    }

    $("#supplier_address_post_code").keydown(function() {
      if( event.keyCode == 13 ) {
        $("#supplier_address_get_btn").click();
      }
    });

    $('form').on('keypress', e => {
      if (e.keyCode == 13) {
          return false;
      }
    });
  });

</script>

<style lang="scss">
  #user_edit_image_upload_btn:hover {
    cursor: pointer;
  }
  .hidden {
    display: none;
  }

  .form-group.manage_agent_input_box {
    display: flex;
    flex-wrap: wrap;
  }
  .form-group.manage_agent_input_box .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 46%;
  }
  .form-group.manage_agent_input_box input[type=checkbox] {
    width: 25px;
    height: 30px;
  }
  label.form_label_hosoku {
    font-size: 10px;
    font-weight: unset;
    color: #a7a7a7;
  }
  div.town_select select {
    width: 100%;
  }
</style>
