<div class="container user_show container-fluid">
  <div class="user_show_side col-2">
    <%= render 'suppliers/supplier_page_front_sidebar' %>
  </div>
  <div class="user_show_content col-8">
    <!-- <form> -->
    <%= form_for(@supplier) do |form| %>
    <div class="user_show_content_down">
      <%= render 'layouts/error_messages', model: form.object %>
      <div class="user_show_info_items_box">
            <div class="user_edit_image_container">
              <div class="form-group user_edit_image_box">
                <div class="user_edit_image_box_inside">
                  <img id="user_image_prev" src="#" class="hidden" />
                  <% if current_supplier.persisted? && current_supplier.avatar? %>
                    <%= image_tag current_supplier.avatar.to_s, class: 'user_present_image', id: 'user_present_image' %>
                  <% else %>
                    <%= image_tag 'default_images/no_avatar_image.png', class: 'user_present_image', id: 'user_present_image' %>
                    <%= form.hidden_field :avatar_cache %>
                  <% end %>
                </div>
                <div id="user_edit_image_upload_btn_box">
                  <%= form.file_field :avatar, id: 'post_image' %>
                  <span id="user_edit_image_upload_btn" onclick="image_input_btn()"><i class="fas fa-camera"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= form.label "お名前" %>
              <%= form.text_field :name, required: true, class: "form-control" %>
            </div>
            <div class="form_btns">
              <div class="row">
                <div class="col-half">
                  <%= link_to "キャンセル", supplier_path(current_supplier), class: "button btn-cansel" %>
                </div>
                <div class="col-half">
                  <%= form.submit('更新する',class: 'button btn-submit') %>
                </div>
              </div>
            </div>
      </div>
    </div>
    <% end %>
    <!-- </form> -->
  </div>
</div>
<!-- </div> -->

<script>
  const selectElement = document.querySelector('#post_image');
  function image_input_btn() {
    selectElement.click();
  }

  document.getElementById('post_image').addEventListener('change', function (e) {
    // 1枚だけ表示する
    const file = e.target.files[0];
    // ファイルのブラウザ上でのURLを取得する
    const blobUrl = window.URL.createObjectURL(file);
    // img要素に表示
    const post_img = document.getElementById('user_image_prev');
    post_img.src = blobUrl;
    post_img.classList.toggle("hidden");
    const before_img = document.getElementById('user_present_image');
    before_img.classList.toggle("hidden");
    // before_img.classList.remove("user_present_image");
  });
</script>

<style lang="scss">
  #user_edit_image_upload_btn:hover {
    cursor: pointer;
  }
  .hidden {
    display: none;
  }

  .form-group.manage_agent_input_box {
    display: flex;
    flex-wrap: wrap;
  }
  .form-group.manage_agent_input_box .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 46%;
  }
  .form-group.manage_agent_input_box input[type=checkbox] {
    width: 25px;
    height: 30px;
    /* vertical-align: middle; */
  }
</style>
