<%= form_for(@supplier) do |form| %>
<div class="form_title">
  <h3>契約者情報を編集</h3>
</div>
<div class="user_show_content_down">
  <%= render 'layouts/error_messages', model: form.object %>
  <div class="user_show_info_items_box">
    <section class="form_section">
      <!-- <div class="form_big_title">
        <h3>契約者の基本情報</h3>
      </div> -->
      <div class="form-group">
        <%= form.label "企業または屋号名" %>
        <%= form.text_field :name, minlength: 3, maxlength: 40, required: true, class: "form-control" %>
      </div>
      <%= form.fields_for :supplier_profile do |pf| %>
        <div class="form-group">
          <%= pf.label :代表者のお名前 %>
          <%= pf.text_field :manager_name, minlength: 3, maxlength: 40, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= pf.label :郵便番号 %>
          <%= pf.text_field :post_code, minlength: 7, maxlength: 8, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= pf.label :都道府県名 %>
          <%= pf.select :prefecture_id, {'北海道': 2}, { include_blank: false}, { class: 'form-control' } %>
          <%#= pf.text_field :prefecture_id, class: "form-control" %>
        </div>
        <!-- <div class="form-group">
          <%#= pf.label :area_id %>
          <%#= pf.text_field :area_id, class: "form-control" %>
        </div> -->
        <div class="form-group">
          <%= pf.label :市区町村名 %>
          <%= pf.collection_select :town_id, Town.all, :id, :jp_name,{prompt: "市区町村を選択"}, class: "form-control" %>
          <%#= pf.text_field :town_id, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= pf.label :以降のご住所 %>
          <%= pf.text_field :detail_address, minlength: 3, maxlength: 50, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= pf.label :建物名・部屋番号 %>
          <%= pf.text_field :building, maxlength: 50, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= pf.label :お電話番号 %>
          <%= pf.text_field :phone, minlength: 10, maxlength: 11, required: true, class: "form-control" %>
        </div>
      <% end %>
    </section>
  </div>
  <div class="user_show_info_button_box">
    <div class="form_sidebtns_container">
      <div class="form_sidebtns">
        <div class="form_sidebtn">
          <%= link_to "キャンセル", supplier_path(current_supplier), class: "button btn-cansel" %>
        </div>
        <div class="form_sidebtn">
          <%= form.submit('更新する',class: 'button btn-submit') %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  const selectElement = document.querySelector('#post_image');
  function image_input_btn() {
    selectElement.click();
  }

  document.getElementById('post_image').addEventListener('change', function (e) {
    const file = e.target.files[0];
    const blobUrl = window.URL.createObjectURL(file);
    const post_img = document.getElementById('user_image_prev');
    post_img.src = blobUrl;
    post_img.classList.toggle("hidden");
    const before_img = document.getElementById('user_present_image');
    before_img.classList.toggle("hidden");
  });
</script>

<style lang="scss">
  #user_edit_image_upload_btn:hover {
    cursor: pointer;
  }
  .hidden {
    display: none;
  }

  .form-group.manage_agent_input_box {
    display: flex;
    flex-wrap: wrap;
  }
  .form-group.manage_agent_input_box .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 46%;
  }
  .form-group.manage_agent_input_box input[type=checkbox] {
    width: 25px;
    height: 30px;
    /* vertical-align: middle; */
  }
</style>
