<%= stylesheet_link_tag 'suppliers' %>
<div class="container user_show container-fluid">
  <div class="user_show_side">
    <%= render 'suppliers/supplier_page_front_sidebar' %>
  </div>
  <div class="supplier_show_main_content"><!--メインコンテンツ-->
    <div class="supplier_show_content_inside"><!--メインコンテンツ内部-->
      <div class="supplier_profile_box"><!--メインコンテンツprofile-->
        <div class="user_show_avatar_box">
          <div class="user_show_avatar_box_inside">
            <% if @supplier.avatar.present? %>
              <%= image_tag current_supplier.avatar.url, class: "user_avatar" %>
            <% else %>
              <%= image_tag "default_images/no_avatar_image.png", class: "user_avatar" %>
            <% end %>
          </div>
        </div>
        <div class="supplier_name">
          <div><%= !@supplier.name.nil? ? @supplier.name : "お名前未登録" %></div>
          <div class="supplier_profile_edit_btn">
            <% if @supplier == current_supplier %>
              <%= link_to "編集",edit_supplier_path(current_supplier), class: "org_edit_btn" %>
            <% end %>
          </div>
        </div>
      </div><!--メインコンテンツprofile end-->
      <!--事業リスト---------------------------------------------------------------->
      <%# if !@organization.nil? %>
      <!-- <div class="supplier_business_box">
        <div class="info_list_box_title">
          <div>事業リスト（現在体験事業のみ）</div>
        </div>
        <table class="supplier_business_items"> -->
            <%# if @activity_business %>
            <!-- <tr>
              <td class="supplier_business_items_td1">体験</td>
              <td class="supplier_business_items_td2"> -->
                <%# if !@activity_business.profile_image.blank? %>
                  <%# image_tag @activity_business.profile_image.to_s, class: 'business_icon_image' %>
                <%# else %>
                  <!-- <div><%# @activity_business.name[0] %></div> -->
                  <%# image_tag 'default_images/no_avatar_image.png', class: 'business_icon_image' %>
                <%# end %>
              <!-- </td>
              <td class="supplier_business_items_td3"><%# @activity_business.name %></td>
              <td class="supplier_business_items_td4"> -->
                <%# if current_supplier.control_level == 0 %>
                  <%# link_to "編集", edit_supplier_activity_business_path(current_supplier, @activity_business ), class: "member_delete_btn edit" %>
                <%# end %>
              <!-- </td>
            </tr> -->
            <%# else %>
            <!-- <tr>
              <td class="supplier_business_items_td1">体験</td>
              <td class="supplier_business_items_blank_td2">まだ事業が登録されていません</td>
              <td class="supplier_business_items_blank_td3"> -->
                <%# if current_supplier.control_level == 0 %>
                  <%# link_to "追加", new_supplier_activity_business_path(current_supplier), class: "member_delete_btn" %>
                <%# end %>
              <!-- </td>
            </tr> -->
            <%# end %>
        <!-- </table>
      </div> -->
      <%# end %>
      <!--事業リスト---------------------------------------------------------------->
      <!--組織情報---------------------------------------------------------------->
      <div class="info_box"><!--メインコンテンツorg-->
        <div class="info_list_box_title">
          <div>事業情報</div>
          <div>
            <% unless @supplier.supplier_profile.nil? %>
              <%= link_to "編集", edit_supplier_activity_business_path(current_supplier, @activity_business ), class: "org_edit_btn" %>
            <% end %>
          </div>
        </div>
          <% if @supplier_profile .nil? %>
            <div class="add_new_org_box">
              <div>まだ事業情報がありません</div>
              <%= link_to "事業を登録", "#", class: "org_edit_btn" %>
            </div>
          <% else %>
            <div class="info_list_box_contents">
              <table class="info_list_table">
                <tr>
                  <td class="td_front">責任者</td>
                  <td class="td_end"><%= @supplier_profile .manager_name if @supplier_profile .manager_name %></td>
                </tr>
                <tr>
                  <td class="td_front">都道府県</td>
                  <td class="td_end"><%= @supplier_profile .prefecture_id if @supplier_profile .prefecture_id %></td>
                </tr>
              </table>
            </div>
          <% end %>
      </div>
      <!--組織情報---------------------------------------------------------------->
    </div><!--メインコンテンツ内部-->
  </div><!--メインコンテンツ-->
</div>

<style>
  .supplier_show_content_inside {
    padding: 20px 20px;
  }
  .supplier_profile_box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  /* .user_show_avatar_box {
    width: 80px;
    height: 80px;
  } */
  .supplier_name {
    margin-left: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .supplier_business_box {
    margin-bottom: 70px;
  }
  table.info_list_table {
    width: 100%;
    font-size: 11px;
  }
  table.info_list_table tr .td_front {
    width: 20%;
  }
  .info_list_box_title {
    border-bottom: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    padding: 0 3px 5px;
    margin-bottom: 5px;
  }
  table.supplier_business_items {
    font-size: 12px;
    width: 100%;
  }
  table.supplier_business_items td.supplier_business_items_td1 {
    width: 5%;
    font-size: 10px;
    padding: 5px;
    text-align: center;
  }
  table.supplier_business_items td.supplier_business_items_td2 {
    width: 8%;
  }
  table.supplier_business_items td.supplier_business_items_td3 {
    width: 72%;
  }
  table.supplier_business_items td.supplier_business_items_td4 {
    width: 15%;
    text-align: end;
  }
  table.supplier_business_items td.supplier_business_items_blank_td2 {
    width: 85%;
  }
  table.supplier_business_items td.supplier_business_items_blank_td3 {
    width: 10%;
  }
  td.supplier_business_items_td2 div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #17a599;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
  }
  a.org_edit_btn {
    background: #2bb561;
    padding: 5px 9px;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
  }
  a.member_delete_btn.edit {
    background: #2bb560;
  }
  .info_list_box_contents {
    padding: 0 3px;
  }
  .add_new_org_box {
    display: flex;
    justify-content: space-between;
  }
  img.business_icon_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
</style>
