<div class="supplier_show_content_inside">
  <div class="activity_business_info_box"><!--メインコンテンツorg-->
    <% if !@activity_business.nil? %>
      <div class="info_list_box_title">
        <div class="info_list_box_title_inner">
          企業情報
          <% if @activity_business.is_approved %>
            <div class="activity_business_status is_approved">
              承認済み
            </div>
          <% else %>
            <% if @activity_business.status == 'inputing' %>
              <div class="activity_business_status inputting">
                まだ事業者申請がされていません
              </div>
            <% else %>
              <div class="activity_business_status send_approve">
                承認待ち
              </div>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= link_to "編集", edit_supplier_activity_business_path(current_supplier, @activity_business), class: "org_edit_btn" %>
        </div>
      </div>
      <div id="activity_business_info_contents" class="">
        <div class="info_list_box_contents">
          <table class="info_list_table">
            <tr>
              <td class="td_front">体験事業名</td>
              <td class="td_end"><%= current_supplier.activity_business.name if current_supplier.activity_business.name %></td>
            </tr>
            <tr>
              <td class="td_front">プロフィール</td>
              <td class="td_end">
                <%= current_supplier.activity_business.profile_text if current_supplier.activity_business.profile_text %>
              </td>
            </tr>
            <% if !@activity_business.apply_suuplier_address %>
            <tr>
              <td class="td_front">都道府県・エリア</td>
              <td class="td_end">
                <%= Prefecture.find(current_supplier.activity_business.prefecture_id).local_name if current_supplier.activity_business.prefecture_id %> /
                <%= Area.find(current_supplier.activity_business.area_id).local_name if current_supplier.activity_business.area_id %>
              </td>
            </tr>
            <% end %>
            <tr>
              <td class="td_front">登録ガイド</td>
              <td class="td_end">
                <div class="supplier_show_guide_items">
                <% if current_supplier.activity_business.guides.any? %>
                  <% current_supplier.activity_business.guides.each do |guide| %>
                    <div class="supplier_show_guide_item_box">
                      <div class="supplier_show_guide_item_box__image"><%= image_tag guide.avatar.to_s, class: "user_avatar" %></div>
                      <div class="supplier_show_guide_item_box__name"><%= guide.name %></div>
                    </div>
                  <% end %>
                <% else %>
                  <div>ガイドは登録されていません</div>
                <% end %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    <% else %>
      <div class="info_list_box_title_no_info">
        <div class="info_list_box_title_inner">企業情報</div>
        <div class="info_list_box_no_bix_info">
          <div>まだ事業情報がありません</div>
          <%= link_to "体験事業を登録", new_supplier_activity_business_path(current_supplier), class: "org_edit_btn" %>
        </div>
      </div>
    <% end %>
  </div>
  <!--事業者情報---------------------------------------------------------------->
  <div class="supplier_info_box"><!--メインコンテンツorg-->
    <div class="info_list_box_title">
      <div>契約者情報</div>
      <div>
        <% unless @supplier.supplier_profile.nil? %>
          <%= link_to "編集", edit_supplier_path(current_supplier), class: "org_edit_btn" %>
        <% end %>
      </div>
    </div>
    <div id="supplier_info_contents">
      <% if @supplier_profile.nil? %>
        <div class="info_list_box_contents">
          <div>まだ契約者情報がありません</div>
          <%= link_to "契約者情報を登録", edit_supplier_path(current_supplier), class: "org_edit_btn" %>
        </div>
      <% else %>
        <div class="info_list_box_contents">
          <table class="info_list_table">
            <tr>
              <td class="td_front">ご契約社名</td>
              <td class="td_end"><%= @supplier.name if @supplier.name %></td>
            </tr>
            <tr>
              <td class="td_front">ご契約の住所</td>
              <td class="td_end">
                <%#= Prefecture.find(@supplier_profile .prefecture_id).local_name if @supplier_profile.prefecture_id %>
                <%#= Town.find(@supplier_profile.town_id).jp_name if @supplier_profile.town_id %>
                <%#= @supplier_profile.detail_address if @supplier_profile.detail_address %>
                <%#= @supplier_profile.building if @supplier_profile.building %>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style lang="scss">
  .info_list_box_title_inner {
    display: flex;
  }
  .activity_business_status {
    padding: 2px 20px;
    font-size: 13px;
    color: #fff;
    margin-left: 15px;
    border-radius: 40px;
    /* display: flex; */
    /* align-items: center; */
  }
  .is_approved {
    background: #47d23e;
  }
  .send_approve {
    background: #ff9292;
  }
  .inputting {
    background: #b3b3b3;
  }

</style>
