<div class="supplier_show_content_inside">
  <div class="activity_business_info_box"><!--メインコンテンツorg-->
    <div class="info_list_box_title">
      <div>企業情報</div>
      <div>
        <% unless @supplier.supplier_profile.nil? %>
          <%= link_to "編集", edit_supplier_activity_business_path(current_supplier, @activity_business), class: "org_edit_btn" %>
        <% end %>
      </div>
    </div>
    <div id="activity_business_info_contents" class="">
      <% if @supplier_profile.nil? %>
        <div class="info_list_box_contents">
          <div>まだ企業情報がありません</div>
          <%= link_to "体験事業を登録", "#", class: "org_edit_btn" %>
        </div>
      <% else %>
        <div class="info_list_box_contents">
          <table class="info_list_table">
            <tr>
              <td class="td_front">体験事業名</td>
              <td class="td_end"><%= current_supplier.activity_business.name if current_supplier.activity_business.name %></td>
            </tr>
            <tr>
              <td class="td_front">プロフィール</td>
              <td class="td_end">
                <%= current_supplier.activity_business.profile_text if current_supplier.activity_business.profile_text %>
              </td>
            </tr>
            <tr>
              <td class="td_front">都道府県・エリア</td>
              <td class="td_end">
                <%= Prefecture.find(current_supplier.activity_business.prefecture_id).local_name if current_supplier.activity_business.prefecture_id %> /
                <%= Area.find(current_supplier.activity_business.area_id).local_name if current_supplier.activity_business.area_id %>
              </td>
            </tr>
            <tr>
              <td class="td_front">登録ガイド</td>
              <td class="td_end">
                <div class="supplier_show_guide_items">
                <% if current_supplier.activity_business.guides.any? %>
                  <% current_supplier.activity_business.guides.each do |guide| %>
                    <div class="supplier_show_guide_item_box">
                      <div class="supplier_show_guide_item_box__image"><%= image_tag guide.avatar.to_s, class: "user_avatar" %></div>
                      <div class="supplier_show_guide_item_box__name"><%= guide.name %></div>
                      <!-- <div><%#= guide.introduction %></div> -->
                    </div>
                  <% end %>
                <% else %>
                  <div>ガイドは登録されていません</div>
                <% end %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
    <!-- <div class="info_list_box_title_btn">
      <div onclick="toggleActiviyBusinessInfo(this)"><i class="fas fa-angle-down"></i></div>
    </div> -->
  </div>
  <!--事業者情報---------------------------------------------------------------->
  <div class="supplier_info_box"><!--メインコンテンツorg-->
    <div class="info_list_box_title">
      <div>契約者情報</div>
      <div>
        <% unless @supplier.supplier_profile.nil? %>
          <%= link_to "編集", edit_supplier_path(current_supplier), class: "org_edit_btn" %>
        <% end %>
      </div>
    </div>
    <div id="supplier_info_contents">
    <!-- <div id="supplier_info_contents" class="hidden"> -->
      <% if @supplier_profile.nil? %>
        <div class="info_list_box_contents">
          <div>まだ契約者情報がありません</div>
          <%= link_to "契約者情報を登録", "#", class: "org_edit_btn" %>
        </div>
      <% else %>
        <div class="info_list_box_contents">
          <table class="info_list_table">
            <tr>
              <td class="td_front">責任者</td>
              <td class="td_end"><%= @supplier_profile.manager_name if @supplier_profile.manager_name %></td>
            </tr>
            <tr>
              <td class="td_front">ご契約の住所</td>
              <td class="td_end">
                <%= Prefecture.find(@supplier_profile .prefecture_id).local_name if @supplier_profile.prefecture_id %>
                <%= Town.find(@supplier_profile.town_id).jp_name if @supplier_profile.town_id %>
                <%= @supplier_profile.detail_address if @supplier_profile.detail_address %>
                <%= @supplier_profile.building if @supplier_profile.building %>
              </td>
            </tr>
            <tr>
              <td class="td_front">電話番号</td>
              <td class="td_end">＊＊＊ - ＊＊＊＊ - <%= (@supplier_profile.phone.to_i % 10000) if @supplier_profile.phone %></td>
            </tr>
            <tr>
              <td class="td_front">プランの種類</td>
              <td class="td_end"><%= @supplier_profile.contract_plan if @supplier_profile.contract_plan %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
    <!-- <div class="info_list_box_title_btn">
      <div onclick="toggleSupplierInfo(this)"><i class="fas fa-angle-down"></i></div>
    </div> -->
  </div>
</div><!--メインコンテンツ内部-->

<!-- 
<script>
  function toggleActiviyBusinessInfo(obj) {
    profileBox = document.getElementById('activity_business_info_contents');
    isHidden = profileBox.classList.contains('hidden');
    if (isHidden) {
      profileBox.classList.remove('hidden');
      obj.innerHTML = '<i class="fas fa-angle-up"></i>';
    } else {
      profileBox.classList.add('hidden');
      obj.innerHTML = '<i class="fas fa-angle-down"></i>';
    }
  }

  function toggleSupplierInfo(obj) {
    profileBox = document.getElementById('supplier_info_contents');
    isHidden = profileBox.classList.contains('hidden');
    if (isHidden) {
      profileBox.classList.remove('hidden');
      obj.innerHTML = '<i class="fas fa-angle-up"></i>';
    } else {
      profileBox.classList.add('hidden');
      obj.innerHTML = '<i class="fas fa-angle-down"></i>';
    }
  }
</script> -->
