<div class="container user_show container-fluid">
  <div class="user_show_side">
    <%= render 'suppliers/supplier_page_front_sidebar' %>
  </div>
  <div class="supplier_show_main_content"><!--メインコンテンツ-->
    <div class="supplier_show_content_inside"><!--メインコンテンツ内部-->
      <div class="supplier_profile_box"><!--メインコンテンツprofile-->
        <div class="user_show_avatar_box">
          <div class="user_show_avatar_box_inside">
            <% if @supplier.avatar.present? %>
              <%= image_tag current_supplier.avatar.url, class: "user_avatar" %>
            <% else %>
              <%= image_tag "default_images/no_avatar_image.png", class: "user_avatar" %>
            <% end %>
          </div>
        </div>
        <div class="supplier_name">
          <div><%= !@supplier.name.nil? ? @supplier.name : "お名前未登録" %></div>
          <div class="supplier_profile_edit_btn">
            <% if @supplier == current_supplier %>
              <%= link_to "編集",edit_supplier_path(current_supplier), class: "org_edit_btn" %>
            <% end %>
          </div>
        </div>
      </div><!--メインコンテンツprofile end-->
      <!--事業リスト---------------------------------------------------------------->
      <div class="project_members_box">
        <div class="info_list_box_title">
          <div>事業リスト（現在体験事業のみ）</div>
        </div>
        <table class="project_members_list">
          <!-- <tr>
            <th>事業タイプ</th>
            <th>事業名</th>
            <th></th>
          </tr> -->
            <% if @activity_business %>
            <tr>
              <td>体験事業</td>
              <td><%= @activity_business.name %></td>
              <td>
                <% if current_supplier.control_level == 0 %>
                  <%= link_to "編集", edit_supplier_activity_business_path(current_supplier, @activity_business ), class: "member_delete_btn edit" %>
                <% end %>
              </td>
            </tr>
            <% else %>
            <tr>
              <td>体験事業</td>
              <td>まだ事業が登録されていません</td>
              <td>
                <% if current_supplier.control_level == 0 %>
                  <%= link_to "追加", new_supplier_activity_business_path(current_supplier), class: "member_delete_btn" %>
                <% end %>
              </td>
            </tr>
            <% end %>
        </table>
      </div>
      <!--事業リスト---------------------------------------------------------------->
      <!--メンバーリスト---------------------------------------------------------------->
      <div class="project_members_box">
        <div class="info_list_box_title">
          <div>メンバー情報</div>
        </div>
        <table class="project_members_list">
          <!-- <tr>
            <th>ステータス</th>
            <th>メールアドレス</th>
            <th></th>
          </tr> -->
          <% @joined_members.each do |joined_member| %>
            <tr>
              <td>参加済</td>
              <td><%= joined_member.name if joined_member.name %></td>
              <td>
                <% if current_supplier.control_level == 0 %>
                  <%= link_to "削除", supplier_org_member_delete_path(current_supplier.id, joined_member.organization_id, joined_member.id),
                  class: "member_delete_btn",
                  method: :delete, data: { confirm: "本当に削除しますか？" }
                  %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% @inviting_members.each do |inviting_member| %>
            <tr>
              <td><%= inviting_member.has_account == 0 ? "未承認" : "未登録" %></td>
              <td><%= inviting_member.invited_email %></td>
              <td>
                <% if current_supplier.control_level == 0 %>
                  <%= link_to "削除", supplier_org_invite_delete_path(current_supplier.id, inviting_member.organization_id, inviting_member.id),
                  class: "member_delete_btn",
                  method: :delete, data: { confirm: "本当に削除しますか？" }
                  %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <!--メンバーリスト---------------------------------------------------------------->
      <!--組織情報---------------------------------------------------------------->
      <div class="info_box"><!--メインコンテンツorg-->
        <div class="info_list_box_title">
          <div>組織情報</div>
          <div>
            <% unless @supplier.organization_id.nil? %>
              <%= link_to "編集", edit_supplier_organization_path(@supplier, @supplier.organization_id), class: "org_edit_btn" %>
            <% end %>
          </div>
        </div>
          <% if @supplier.organization_id.nil? %>
            まだ組織情報がありません
            <%= link_to "組織情報を作成", new_supplier_organization_path(@supplier), class: "org_edit_btn" %>
          <% else %>
            <div class="info_list_box_contents">
              <table class="info_list_table">
                <tr>
                  <td class="td_front">組織名</td>
                  <td class="td_end"><%= @organization.name if @organization.name %></td>
                </tr>
                <tr>
                  <td class="td_front">組織分類</td>
                  <td class="td_end"><%= @organization.org_type if @organization.org_type %></td>
                </tr>
                <tr>
                  <td class="td_front">都道府県・市町村</td>
                  <td class="td_end"><%= Prefecture.find(@organization.prefecture_id).local_name %>・<%= Town.find(@organization.town_id).jp_name %></td>
                </tr>
                <tr>
                  <td class="td_front">住所</td>
                  <td class="td_end"><%= @organization.detail_address if @organization.detail_address%><%= @organization.building if @organization.building %></td>
                </tr>
              </table>
            </div>
          <% end %>
      </div>
      <!--組織情報---------------------------------------------------------------->
    </div><!--メインコンテンツ内部-->
  </div><!--メインコンテンツ-->
</div>

<style>
  .supplier_show_content_inside {
    padding: 20px 20px;
  }
  .supplier_profile_box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .user_show_avatar_box {
    width: 80px;
    height: 80px;
  }
  img.user_avatar {
    width: 80px;
    height: 80px;
  }
  .supplier_name {
    margin-left: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  table.info_list_table {
    width: 100%;
    font-size: 11px;
  }
  table.info_list_table tr .td_front {
    width: 20%;
  }
  .info_list_box_title {
    border-bottom: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    padding: 0 3px 5px;
  }
  table.project_members_list td:nth-child(3) {
    text-align: end;
  }
  a.org_edit_btn {
    background: #2bb561;
    padding: 5px 9px;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
  }
  a.member_delete_btn.edit {
    background: #2bb560;
  }
  .info_list_box_contents {
    padding: 0 3px;
  }

</style>
