<div class="footer_pc">
  <div class="footer_contents">
    <div class="footer_content_title"><h4>trima</h4></div>
    <div class="row footer_content_links">
      <ul class="col footer_item_list">
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
      </ul>
      <ul class="col footer_item_list">
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
      </ul>
      <ul class="col footer_item_list">
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
        <li><%= link_to "About Service", "#" %></li>
      </ul>
    </div>
  </div>
</div>
