<div class="footer_pc">
  <div class="footer_contents">
    <div class="footer_content_title">
      <h4>trima</h4>
      <span style="font-size:;">is a travel platform</span>
    </div>
    <div class="row footer_content_links">
      <ul class="col footer_item_list">
        <li><span>Guests</span></li>
        <li><%= link_to "trima for user", about_for_user_path %></li>
        <li><%= link_to "Term of Service", term_of_service_en_path %></li>
        <li><%= link_to "利用規約（日本語）", term_of_service_jp_path %></li>
        <li><%= link_to "Privacy Policy", privacy_policy_en_path %></li>
        <li><%= link_to "プライバシーポリシー（日本語）", privacy_policy_jp_path %></li>
        <li><%= link_to "Cansel Policy", cansel_policy_en_path %></li>
      </ul>
      <ul class="col footer_item_list">
        <li><span>事業者の皆様</span></li>
        <li><%= link_to "trimaへの掲載について", about_for_supplier_path %></li>
        <li><%= link_to "事業者アカウント作成", new_supplier_registration_path %></li>
        <li><%= link_to "事業者利用規約", term_of_service_for_supplier_path %></li>
        <li><%= link_to "プライバシーポリシー", privacy_policy_jp_path %></li>
        <li><%= link_to "キャンセルポリシー", cansel_policy_en_path %></li>
      </ul>
      <ul class="col footer_item_list">
        <li><span>About Us</span></li>
        <li><%= link_to "About us", "#" %></li>
        <li><%= link_to "Company", "#" %></li>
        <li><%= link_to "Contact Us", "#" %></li>
        <li><%= link_to "エリア一覧（管理者専用）", areas_path %></li>
        <li><%= link_to "市区町村一覧（管理者専用）", basic_index_path %></li>
      </ul>
    </div>
  </div>
  <div class="footer_copyright_box">
    <span>©CEDARS Communications Co.,Ltd.</span>
  </div>
</div>
