<header class="erb_header">
  <div class="header_inner">
    <%= link_to "Trima", root_path, id: "logo" %>
    <ul class="header__links">
      <% if user_signed_in? %>
        <%= link_to(user_path(current_user), class: 'header_mypage_link') do %>
          <li>
            <% if current_user.avatar? %>
              <%= image_tag current_user.avatar.to_s, class: 'header_avatar' %>
            <% else %>
              <%= image_tag 'default_images/no_avatar_image.png', class: 'header_avatar' %>
            <% end %>
          </li>
          <li class="header_username">
            <% if current_user.first_name && current_user.last_name %>
              <%= current_user.first_name %><%= current_user.last_name %>
            <% else %>
              MyPage
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li><%= link_to "About", about_path %></li>
        <li><%=link_to "SignUp", new_user_registration_path %></li>
        <li><%=link_to "SignIn", users_sign_in_path %></li>
      <% end %>
    </ul>
  </div>
</header>
