<header class="erb_header">
  <div class="header_inner">
    <div class="header_left">
      <%= render 'layouts/sidemenu_for_users' %>
      <%= link_to "Trima", root_path, id: "logo" %>
    </div>
    <ul class="header__links">
      <% if user_signed_in? %>
        <%= link_to(user_path(current_user), class: 'header_mypage_link') do %>
          <li>
            <% if !current_user.avatar.blank? %>
              <%# image_tag 'default_images/no_avatar_image.png', class: 'header_avatar' %>
              <%= image_tag current_user.avatar.url, class: 'header_avatar' %>
            <% else %>
              <%= image_tag 'default_images/no_avatar_image.png', class: 'header_avatar' %>
            <% end %>
          </li>
          <li class="header_username">
            <% if current_user.username %>
              <%= current_user.username %>
            <% else %>
              MyPage
            <% end %>
          </li>
        <% end %>
      <% elsif supplier_signed_in? %>
        <li><%= link_to "事業者ページ", supplier_path(current_supplier)  %></li>
      <% else %>
        <li><%= link_to "About", about_for_user_path %></li>
        <li><%= link_to "事業者の方", suppliers_sign_in_path %></li>
        <li><%=link_to "SignUp", new_user_registration_path %></li>
        <li><%=link_to "SignIn", users_sign_in_path %></li>
      <% end %>
    </ul>
  </div>
</header>
