<!DOCTYPE html>
<html>
  <head>
    <title>TrimaV00</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if notice %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="body_content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
