<!DOCTYPE html>
<html>
  <head>
    <title>TrimaV00</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag 'application', media: 'all' %>
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> -->
    <meta charset="utf-8">
  </head>

  <body class="erb_body <%= "add_padding_top" unless controller.action_name == "about" %>">
    <% unless controller.action_name == "about" %>
      <%= render 'layouts/header'%>
    <% end %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="body_content">
      <%= yield %>
    </div>
    <% unless controller.controller_name == "home" && controller.action_name == "about" %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
