<div class="sign_up_in_page">
  <div class="sign_up_in_page_front">
    <h2>trima</h2>
    <p>Make faster<br/>to get trip info</p>
    <p>Make easier<br/>to Book everything for trip</p>
  </div>
  <div class="sign_up_in_page_end">
    <h3>Create a account</h3>
    <%# form_for(resource, as: resource_name, url: user_registration_path do |f| %>
    <%# <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name)) do |f| %>
    <%= form_with model: @user, url: user_registration_path(@user), id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <div id="password_input_box">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" ,id: "password-input", :data => {:toggle=>"password"} %>
        </div>
      </div>
      <div class="form-group agree_check">
        <input type="checkbox" id="agree_checkbox" value="" required>
        <%# check_box_tag :agree_policy, { required: true, class: "form-control" ,id: "agree_checkbox" } %>
        <label for="agree_checkbox">I agree <%= link_to "term of servise", "#", class: "agree_link" %>&nbsp;&&nbsp;<%= link_to "privacy policy", "#", class: "agree_link" %></label>
      </div>
      <div class="form-group">
        <%= f.submit "Sign up", class: "button btn-submit" %>
      </div>
    <% end %>
    <div class="another_way_btn_box">
      <%= link_to "Sign in", users_sign_in_path %>
    </div>
    <div class="didnt_recieve_btn_box">
      <%= link_to "Didn't receive confirmation Email?", new_user_confirmation_path %>
    </div>
  </div>
</div>
